@font-face
    font-family: 'PF DinDisplay Pro'
    src: url("../../assets/fonts/PFDinDisplayPro/PFDinDisplayPro-Regular.woff2")

@font-face
    font-family: 'Geometria'
    src: url("../../assets/fonts/Geometria/geometria_medium.woff2")
