mixin header 
    .tiser__main-head
        include ../../components/menu/menu.pug
        .tiser__header
            .tiser__logo
            .tiser__leftside 
                .tiser__title FMGroup 
                .tiser__slogan на уровень выше
        h1.tiser__phone 8 800 700 69 58