
mixin slider(name="")
  -

    let style = `
      height: 400px; 
    `
    if (name) 
      name = "slider-" + name 
    else 
      name = ""

  div(class="slider "+name)
    .slider__wrapper
      .slider__items
        block
    .slider__controls
      a.slider__control.slider__control_prev(href="#" role="button" data-slide="prev")
      a.slider__control.slider__control_next(href="#" role="button" data-slide="next")