
@import "../../sass/_const"
@import "../../sass/mixins/_flex-center"
menu.main-menu
    margin: 0
    padding: 2em 0
.main-menu
    color: #fff
    display: flex
    align-items: center

    &:hover
        & > ul
            transform: translateX(0%)
        & .main-menu__burger
            opacity: 0
        & .main-menu__cross
            opacity: 1
        & .main-menu__label
            opacity: 0

    & > ul
        order: 1
        margin: 0
        display: flex
        justify-content: center
        align-items: stretch
        flex-wrap: wrap
        transform: translateX(-150%)
        transition: transform 1s cubic-bezier(.5,0,.5,1.2)
        & > li
            position: relative
            list-style: none
            padding: 0 0.5em
            position: relative
            display: flex
            align-items: center
            justify-content: center
            &::before
                content: ""
                position: absolute
                height: 100%
                width: 0%
                margin: 0 auto
                top: 0
                left: 50%
                transform: translateX(-50%)
                border-bottom: 1px solid #fff
                transition: width 0.8s ease-out
            &:hover::before
                width: 50%

            & > a
                color: inherit
                text-decoration: none
                padding: 0.5rem 0
                font-size: calc($metrica*0.7)
                position: relative
                inset: 0
    &__blank
        order: 0
        align-items: center
        width: 8%
        height: auto
        position: relative
        background: inherit

    &__icon
        margin-right: 1em
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        transition: opacity 0.5s ease-in-out
    &__burger
        opacity: 1
    &__cross
        opacity: 0
    &__label
        height: 100%
        background: inherit
        transition: opacity 1s 0.1s
