@imprt "../_conts.sass"
.tabs
    display: flex
.tab
    padding: 20px
    border-radius: 5px 5px 0 0
    border-bottom: 1px solid #E9E7E8
    border-top: 10px solid transparent
    list-style: none
    position: relative

    &.active
        border-top: 10px solid $color__deepblue
        border-left: 1px solid #E9E7E8
        border-right: 1px solid #E9E7E8
        border-bottom: 1px solid transparent
