@import "../_const"
@import "../../components/card/_card"
.about
    & .header__main-head
        color: $color__deepblue
    &__container
        max-width: 80vw
        margin: 0 auto
        margin-top: 100px
    &__body
        display: flex
        align-items: center
        justify-content: center
    &__video
        flex: 0 0 50%
    &__cards
        display: grid
        grid-template-columns: 1fr 1fr
        grid-auto-rows: 130px
    &__text
        margin-top: 67px
    & .card
        border: 1px solid
        padding: 0
        margin: 1em 1em 1em 3em
        display: flex
        align-items: center
        &__svg
            justify-content: center
            top: 50%
            transform: translate(-50%,-50%)
            left: 0
            width: 33.333%
        &__title
            font-size: 14px
            padding: 0 10px 0 50px
            text-align: left
            margin: 0
