@import "../_const"
@import "../../components/card/_card"
.about
    & .header__main-head
        color: $color__deepblue
    &__body
        display: flex
        align-items: center
        justify-content: center
    &__video
        flex: 0 0 50%
    &__cards
        display: flex
        // flex-direction: column
        flex-wrap: wrap
        align-items: center
        justify-content: center
        flex: 1 1 50%
    & .card__svg
        justify-content: center
