@import "../../components/big-card/_big-card.sass"
@import "../_common"

@import "../../components/button/_button"
body
    margin: 0
    padding: 0
.articles
    &__cards
        display: grid
        grid-template-columns: 1fr 1fr
        height: 100%
        & > .big-card
            margin: 38px 15px
            color: $color__deepblue
            @media screen and ( max-width: 768px )
                margin: .5em 15px
                height: 94%

        @media screen and ( max-width: 768px )
            grid-template-columns: 1fr

    &__body
        width: calc(795 / 1920 * 100vw * 2 + 30px)
        // margin: 100px auto
        position: absolute
        top: 100px
        width: 100%
        bottom: 100px
        // top: 50%
        // left: 50%
        // transform: translate(-50%,-50%)
