@import "../_common"
@import "../_fonts"
@import "../_const"
@import "../../components/header/_header"
@import "../../components/footer/_footer"
@import "../../components/menu/_main-menu"
@import "../../components/textblock/_textblock"
=fixfz
    & .textblock__title
        font-size: 20px
        @media screen and ( max-width: 425px )
            font-size: 15px
    & .textblock__body
        font-size: 16px
        width: 100%
        @media screen and ( max-width: 425px )
            font-size: 11px

body
    height: 100vh
    padding: 0
    margin: 0
main
    position: absolute
    inset: 0

.contacts
    @media screen and ( max-width: 320px )
        align-items: flex-start
        @media screen and ( max-width: 425px )
            overflow-y: auto
    &__container
        grid-template-areas: "EMPTY legal accountant map" "social post supply map" "social time production map" "social sales empty map"
        margin: 166px 146px 0 106px
        display: grid
        grid-template-columns: 137px 521px 1fr 1fr
        grid-template-rows: 126px 120px 124px 168px
        place-content: start
        column-gap: 0em
        @media screen and ( max-width: 1440px )
            grid-template-rows: 134px 120px 117px 168px
            grid-template-columns: 100px 380px 1fr 1fr
        @media screen and ( max-width: 1250px )
            grid-template-columns: 100px 330px 1fr 1fr
            margin: 64px 90px 0 104px
        @media screen and ( max-width: 1024px )
            grid-template-columns: 65px 285px 200px 1fr
        @media screen and ( max-width: 768px )
            grid-template-columns: 65px 285px 1fr
            margin: 64px auto 0
            grid-template-areas: "EMPTY legal accountant " "social post supply" "social time sales" "social production sales " " social map map"
            grid-template-rows: 126px 120px 124px 168px 250px
        @media screen and ( max-width: 630px )
            grid-template-columns: 65px 260px auto
        @media screen and ( max-width: 425px )
            // margin: 0 50px
            margin: 76px auto 0
            grid-template-rows: 50px 70px 80px 168px 80px
            grid-template-columns: 1fr 1fr
            grid-template-areas: "social social" "legal accountant " "post supply" "time sales" "production sales " "map map"
        @media screen and ( max-width: 320px )
            // margin: 0 45px
            grid-template-columns: 1fr
            grid-template-areas: "social" "legal" "post" "supply" "accountant" "supply" "production" "time" "sales" "map"
            display: flex
            flex-direction: column
            column-gap: 2em
        & *
            padding-top: 0
            margin-top: 0
            @media screen and ( max-width: 425px )
                margin: 0
                padding: 0
    &__socials
        grid-area: social
        display: flex
        flex-direction: column
        @media screen and ( max-width: 425px )
            flex-direction: row
            height: 100%
            justify-content: space-between
            align-items: center
        & > *:not(:last-child)
            margin-bottom: 1rem
            @media screen and ( max-width: 425px )
                margin-bottom: 0
        & svg
            fill: $color__deepblue
    &__legal-address
        grid-area: legal
        font-size: 1.2em
        @media screen and ( max-width: 1024px )
            font-size: 1px
            +fixfz
        & .textblock__body
            width: 75%
    &__accountant
        grid-area: accountant
        +fixfz
    &__production
        grid-area: production
        +fixfz
    &__postal-address
        grid-area: post
        +fixfz
        & .textblock__title
            // margin-top: 21px
            @media screen and ( max-width: 425px )
                margin-top: 10px
                margin: 0
        & .textblock__body
            width: 75%
    &__sales
        grid-area: sales
        +fixfz
        &  ul
            padding: 0
            @media screen and ( max-width: 1440px )
                width: 100%
        & h2
            font-size: 20px
            @media screen and ( max-width: 1720px )
                width: 90%
            @media screen and ( max-width: 630px )
                font-size: 14px
                width: 100%
    &__jobtime
        grid-area: time
        +fixfz
        & .textblock__title
            margin-top: 21px
            @media screen and ( max-width: 425px )
                margin-top: 0px
        & .textblock__body
            & > p
                margin: 0
        @media screen and ( max-width: 1024px )
            +fixfz
    &__supply
        grid-area: supply
        +fixfz
    &__allday
        grid-area: phone
    &__contacts
        grid-area: phone
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: flex-end
    &__phone
        padding-top: 1em
        color: $color__deepblue
        @media screen and ( max-width: 320px )
            padding-top: 0
        & > a
            text-decoration: none
            color: $color__deepblue
            font-size: 60px
            @media screen and ( max-width: 768px )
                font-size: 30px
            @media screen and ( max-width: 425px )
                font-size: 25px
            @media screen and ( max-width: 320px )
                font-size: 20px

    &__liner
        height: 100%
    &__vk
        width: 34px
    & a
        color: currentColor
        text-decoration: none

.day
    display: flex
    justify-content: space-between
    align-items: center
    list-style: none
    padding: 0
    margin: 0
    color: #000
    width: 75%
    &__name
        margin-right: 1em
    &__time
        &_red
            color: red

.liner
    height: 100%
    width: 2px
    margin: 0 1rem
    @media screen and ( max-width: 425px )
        margin: 0
    &-up, &-down
        background: #000
    @media screen and ( max-width: 425px )
        transform: rotate(-90deg)
#map
    grid-area: map
    width: 600px
    height: 100%
    @media screen and ( max-width: 1440px )
        width: 400px
    @media screen and ( max-width: 1024px )
        width: 100%
        height: 100%
.header__main-head
    z-index: 10
.footer
    // position: static
