@import "../_common"
@import "../_fonts"
@import "../_const"
@import "../../components/header/_header"
@import "../../components/footer/_footer"
@import "../../components/menu/_main-menu"
@import "../../components/textblock/_textblock"

.contacts
    &__container
        font-size: 16px
        font-weight: 200
        display: grid
        grid-template-areas: "social legal accountant map" "social post supply map" "social time production map" "social sales empty map"
        grid-template-columns: auto calc(410/1920*100vw) calc(273/1920*100vw) 600px
        place-content: start
        margin: calc(190/1920*100vw) calc(150/1920*100vw) (142/1920*100vw)
        grid-column-gap: calc(108/1920*100vw)

        & *
            padding-top: 0
            margin-top: 0

    &__socials
        grid-area: social
        display: flex
        flex-direction: column
        height: 100%
        & > *:not(:last-child)
            margin-bottom: 1rem
        & svg
            fill: $color__deepblue
    &__legal-address
        grid-area: legal
        font-size: 1.2em
    &__accountant
        grid-area: accountant
    &__production
        grid-area: production
    &__postal-address
        grid-area: post
    &__sales
        grid-area: sales
        width: 211px
        & > ul
            padding: 0
    &__jobtime
        grid-area: time
    &__supply
        grid-area: supply
    &__allday
        grid-area: phone
    &__contacts
        grid-area: phone
    &__phone
        font-size: calc($metrica * 1.1)
        padding-top: 1em
        & > a
            text-decoration: none
            color: $color__deepblue

    &__liner
        height: 100%

.day
    display: flex
    justify-content: space-between
    align-items: center
    list-style: none
    padding: 0
    margin: 0
    color: #000
    &__name
        margin-right: 1em
    &__time
        &_red
            color: red

.liner
    height: 100%
    width: 2px
    margin: 0 1rem
    &-up
        background: linear-gradient(to top, $color__deepblue, transparent)

    &-down
        background: linear-gradient(to top, transparent, $color__deepblue)

#map
    grid-area: map
    width: 600px
    height: 100%
    @media screen and ( max-width: 1440px )
        width: 400px
    @media screen and ( max-width: 1024px )
        width: 250px
        height: 50%
