@import "../_common"
@import "../../components/tabs/_tabs"
@import "../../components/button/_button"
@import "../../components/modal/_modal"
@import "../_slider"

body
    overflow: hidden
main
    // width: 100%
    // height: 100%
    margin: 130px calc(130 / 1920 * 100vw) 60px calc(130 / 1920 * 100vw)

.header__main-head
    color: $color__deepblue

.production
    overflow: hidden
    & .tabs
        // margin: 8em auto 1em
        @media screen and (max-width: 768px)
            // margin: 3em auto 1em
    & .header__main-head
        margin: 0 auto
    & .header__logo
        background: url("../../assets/img/tiser/logo_blue.png") no-repeat
        background-size: contain
    &__page
        display: grid
        grid-template-columns: 3fr minmax(2fr, 545px)
        grid-template-areas: "img info" "desc desc"
        grid-template-rows: auto minmax(246px, 1fr)
        // @media screen and (max-width: 768px)
        //     grid-template-columns: 1fr
        //     grid-template-areas: "img" "info" "desc"
        //     grid-template-rows: 230px 260px
        @media screen and (max-width: 768px)
            grid-template-columns: 1fr
            grid-template-areas: "img" "info" "desc"
            grid-template-rows: 200px 255px 260px
        @media screen and (max-width: 500px)
            grid-template-rows: 200px 275px 260px
        @media screen and (max-width: 380px)
            grid-template-rows: 200px 360px 260px
    &__info
        grid-area: info

    &__footer-info
        grid-area: desc
    &__img
        grid-area: img
        width: 90%
        display: flex
        align-items: center
        justify-content: center
        margin: 0 auto
        & > img
            width: 75%
        @media screen and (max-width: 768px)
            width: 70%
    &__control
        display: flex
        align-items: center
        cursor: pointer
        z-index: 1
        & > svg
            fill: #000
        &-left
            transform: rotate(180deg)
    &__body
        @media screen and (max-width: 768px)
            // margin-top: 100px

    &.priority__backword
        opacity: 0.1
        color: $color__deepblue

.footer-info
    // font-size: calc($metrica*0.9)
    @media screen and (max-width: 768px)
        font-size: 0.9em
    &__specification
        padding-left: 20px
        &  li
            list-style: none
            line-height: 1.5
            position: relative
            & > span
                padding-left: .5em
            &::before
                content: ""
                background: url(../../assets/img/list.svg) no-repeat
                position: absolute
                top: 2px
                left: -20px
                width: 20px
                height: 20px

.info
    border-radius: 5px
    border: 1px solid #C4CDD6
    width: calc(585/1920 * 100vw)
    padding: calc(53/1920 * 100vw)
    color: $color__deepblue
    background: #fff
    z-index: 1
    width: 545px
    // width: 100%
    @media screen and (max-width: 768px)
        margin: 0 auto
        width: 95%
    &__button
        & .button__name
            color: $color__deepblue
        & .button__arrow
            background: transparent
            border: 1px solid $color__deepblue
            border-left: none
    &__definition, &__specification
        display: flex
        align-items: center
        font-weight: 200
        & > img
            width: 39px
            height: 36px
            // background: url(../assets/img/production/paper-sheet-svgrepo-com\ 1.png) no-repeat
            // background-size: contains
            margin-right: 1em
            border: none
            flex: 0 0 10%
            object-fit: contain
    &__specification
        & > img
            // background: url(../assets/img/production/building-svgrepo-com\ 1.png) no-repeat
            width: 62px
            height: 41px
    &__button
        display: flex
        justify-content: center
        align-items: center
        @media screen and (max-width: 768px)
            & button
                margin: 0
    &__title
        @media screen and (max-width: 768px)
            margin-top: 0

.big-label
    &__container
        z-index: -1
        overflow: hidden
        position: fixed
        &_up
            top: 140px
            right: 0
        &_down
            bottom: 0
            left: 0

    &__title
        font-family: 'Montserrat', sans-serif
        font-weight: 700
        font-size: calc($metrica * 10)
        color: rgba(233,233,231,0.23)
        // color: #000
        &_up
            top: 0
            right: 0
            transform: translateX(50%)
        &_down
            bottom: 0
            left: 0
            transform: translateX(-50%)

.slider
    max-width: 80vw

    &__wrapper
        overflow-y: auto
        height: 60vh
    &__indicators
        display: none
    &__items
        height: 100vh
        @media screen and (max-width: 768px)
            height: 78vh
    &__controls
        position: fixed
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 2
        width: 90%
        height: unset

    &__control
        width: 1em
        transform: translateY(-50%)
        &_prev
            transform: rotate(90deg)
            left: 0

        &_next
            transform: rotate(-90deg)
            right: 0
.category
    display: block
    transition: opacity 1s
