@import "../_common"

=border
    border-radius: 5px
    border: 1px solid #C4CDD6

main
    font-family: 'Geometria', sans-serif
    // position: absolute
    // inset: 0
    // display: flex
    // align-items: center
    // justify-content: center
    color: $color__deepblue
    margin: 130px 0px
    overflow: hidden

.container
    width: 90%
    margin: 0 auto

.body
    margin: 0
    padding: 0
    display: grid
    // grid-template-columns: 3fr 1fr
    grid-template-areas: "controls list" "map list"

.title
    margin-bottom: 32px
    font-size: 20px

#map
    grid-area: map
    width: 100%
    height: auto
    // margin: 83px 88px 0 0
    & > svg
        width: 100%
        height: auto

.controls
    grid-area: controls
    display: grid
    grid-template-columns: 1fr 1fr
    margin-right: 88px
.control
    padding: 12px 10px
    font-size: clamp(14px,0.93vw,18px)
    +border
    &:first-child
        margin-right: 63px

.list
    grid-area: list
    +border
    padding: 24px 22px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    overflow: scroll
.header__main-head
    color: $color__deepblue

select
    position: relative
    -webkit-appearance: none// Chrome */
    -moz-appearance: none// Firefox */
    appearance: none// убираем дефолнтные стрелочки */
    background: url("../../assets/img/arrow-expand.svg") no-repeat
    background-position: 97% 50%
    &:invalid
        color: #3A3A3A
.hint
    position: absolute
    mix-blend-mode: difference

path:hover
