extends ../layout/default.pug
include ../../components/header/header.pug
include ../mixin/production-page
include ../mixin/slider.pug
include ../../components/card/card.pug

block variables 
    - let title= 'FMGroup | О нас'
block content
    -
        let cards = [
            {title:'Круглосуточная техподдержка', logo:"../../assets/img/about/1.svg", color: '#6E9EC1'},
            {title:'Гарантийное и постгарантийное обслуживание', logo:"../../assets/img/about/2.svg", color: '#0D88BF'},
            {title:'ISO контроль качества на всех этапах производства', logo:"../../assets/img/about/3.svg", color: '#037C87'},
            {title:'Производство ГОСТ', logo:"../../assets/img/about/4.svg", color: '#013485'},
            {title:'Более 16 лет а рынке промышленного оборудования', logo:"../../assets/img/about/5.svg", color: '#969FA8'},
        ]
    .about
        +header 
        main.about__container
            .about__body 
                .about__video 
                    iframe(width="560" height="315" src="https://www.youtube.com/embed/bYJ2M3qqg9Y?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay="1")
                .about__cards 
                    each i in cards
                        +card(".about__card",i.title)(style={background:i.color,border:`1px solid ${i.color}`} border={border:`1px solid ${i.color}`})
                            img(src=i.logo)

            .about__text
                p <strong>Компания «FMGroup»</strong> начала свою работу в 1999 году и на данный момент специализируется на нескольких направлениях производства.
                p Одним из направлений деятельности фирмы является разработка и производство высокотехнологического автоматизированного оборудования для стеклообрабатывающего и металлообрабатывающего производства, а так же оборудования для производства мебели.
                p При разработке оборудования мы ориентируемся на современные достижения в технологии обработки материалов, средств автоматизации и информационных технологий, что позволяет создавать оборудование удовлетворяющие самым высоким требованиям клиента.
                p Особое внимание мы уделяем разработке комплексов на основе систем с ЧПУ, интегрируя и внедряя актуальные компоненты мировых производителей.
                p Вся выпускаемая продукция проходит контроль качества на выявление дефектов до поставки на предприятия заказчика, что позволяет сократить затраты на исправление и устранение дефектов, а так же сократить срок внедрения оборудования у заказчика.
                p Производственная площадка предприятия оснащена современным оборудованием с числовым программным управлением, что позволяет производить комплектующие высокого качества.
                p Мы предлагаем клиенту не только оборудование, но и полный спектр услуг по гарантийному, пост гарантийному обслуживанию и обучению персонала.
                p За время работы мы зарекомендовали себя как надежные партнеры и производители качественной продукции.
                p Мы будем рады новым партнерским отношениям и взаимовыгодному сотрудничеству.

        .about__footer.footer 
            include ../../components/footer/footer

