extends ../layout/default
include ../../components/header/header.pug
include ../../components/big-card/big-card.pug


block content
    -
        const articles = [
            {
                title:"Как правильно выбрать гильотинные ножницы?",
                img:"../../assets/img/articles/1.jpeg", 
                text: "Чтобы правильно выбрать гильотинные ножницы (гильотины), нужно четко понимать принцип их работы и количество необходимых функций для конкретного производственного процесса."
            },
            {
                title:"Гильотинные ножницы по металлу: особенности и применение",
                img:"../../assets/img/articles/2.jpeg", 
                text: "В работе с листовыми и профильными металлами различной толщины предприятия металлообработки и машиностроения используют раскрой (резку) при помощи гильотинных ножниц."},
            {
                title:"Лазерная или плазменная резка — что выбрать?",
                img:"../../assets/img/articles/3.jpeg", 
                text: "Когда возникает необходимость оснащения производства аппаратами для раскроя листового металла, встает вопрос: лазерная или плазменная резка? На сегодняшний день две эти технологии широко применяются в промышленности, а также постоянно конкурируют на рынке."
            },
            {
                title:"Лазерная резка металла: непревзойденная скорость обработки",
                img:"../../assets/img/articles/4.jpeg", 
                text: "Скорость лазерной резки металла является параметром, который крайне важен для расчета себестоимости работы с металлическими заготовками, а также для определения качества продукции."
            }
        ]
    main.articles 
        +header()(style={color:'#013485'})
        .articles__body 
            .articles__cards 
                each i in articles
                    +big-card(i.title,i.img,i.text)
        .articles__footer.footer 
            include ../../components/footer/footer