extends ../layout/project
include ../../components/textblock/textblock.pug
block variables 
    - let title= 'FMGroup | Продукт ...' 
block page
    .container
        h1 Виды обработки стекла
        p Современный рынок наполнен станками, которые могут воспроизвести полировку, шлифовку, а также сделать кромку стекла фигурной, произвести склеивание, просверлить отверстия необходимого диаметра на очень высоком уровне точности и т. д. Конфигурация стекла может быть выполнена не только овальной или прямоугольной формы, но и иметь вид других моделей и конфигураций. Технологические станки очень высокой точности позволяют изготавливать редкостные дизайнерские вещи на самый различный вкус и пожелание клиента.
 
        p Технология обработки выполняется одним из следующих способов:
        ul
            li механический;
            li термический;
            li химический.
        p Механический метод – это способ нанесения рисунка или узора, огранка и шлифование с помощью специального сыпучего абразива.
        p Нагрев стекла до температуры 6000°C, а затем его охлаждение называется термическим методом. За счет резкой смены температур стекло становится прочным и устойчивым.
        p Химический метод – это нанесение на стекло или поверхность зеркала узора с использованием химических веществ, в частности, серной кислоты. Кислота делает материал растворимым, и стекло приобретает матовый оттенок.
 
        h2 Пескоструйная обработка(матирование поверхности).
        p Матирование поверхности – это один из самых простых способов обработки стекла. Благодаря данному виду может получиться очень изящный узор, рисунок. А поверхность становится матовой, что уменьшает вероятность пропускания солнечного света. Частицы абразивного вещества, вылетая из оборудования, сталкиваются с поверхностью материала и оставляют на нем мелкие царапины. При длительном воздействии этих частиц поверхность шлифуется и приобретает совершенно иной, матовый оттенок. Можно также наносить рисунок на стекло, используя трафареты.
        h2 Фьюзинг.
        p Есть ещё один метод обработки стекла когда его плавят при температуре 700-900°C. Его форма становится обтекаемой, цвет – необычным; а материал становится привлекательным, приятным для декорирования. Такой метод носит название фьюзинг.
        p Для того, чтобы создать витраж в технологии фьюзинг понадобится стеклянная основа толщиной приблизительно 3-5 мм и цветное стекло. Для создания композиции, кроме разноцветного материала, в ход могут идти гранулы, нити, шихты и прочее. Витражные стекла не подвержены старению и они, также, долго не выцветают.
        p Для обычного фьюзинга свойственен художественный эффект, который аналогичен работе с акварельными красками, так как стекло при плавлении не создает четкий контур рисунка. Но сегодня некоторые мастера научились делать четкие изображения, благодаря чему такие изделия могут стать центральным украшением в убранстве любого жилья и интерьера.
        h2 Моллирование.
        p Метод обработки, который позволяет сделать форму стекла криволинейной, называется моллированием. Температура нагрева стекла составляет примерно 600-700°C. Сначала лист помещают в специальную форму, а затем отправляют его в оборудованную тоннельную печь. В результате действия очень высокой температуры стекло плавится и наполняет собой шаблон, приобретая нужную конфигурацию. Продолжительность данного технологичного процесса оказывается разной: многое зависит от того, какая толщина у стекла и какую форму нужно получить в конце. Иногда процесс может занять 2 часа, а иногда – 20.
        p После того, как стекло приобрело необходимую форму, его обязательно нужно охладить струей сжатого воздуха. Таким образом стекло закаляется, и увеличивается долговечность материала.
        p Моллирование – это такой процесс технологии, который требует, чтобы все этапы соблюдались строго. Иначе, впоследствии, стекло разрушится, и оно будет недоброкачественным.
        p В последнее время область применения гнутого стекла значительно расширилась. Если раньше его использовали только для автомобилей, то сегодня его активно внедряют в строительство, архитектуру, мебельное производство, торговое оборудование и другие.
        h2 Смарт-гласс и деколь.
        p Технология смарт-стекла основывается на пленке, которая расположена между двумя слоями стекол. Внутри пленки имеется жидкокристаллический слой, и она имеет свойство изменять свою прозрачность. В момент, когда стекло не подключено к сети электропитания, оно непрозрачное, так как хаотично расположенные кристаллы отображают солнечный луч света. И наоборот, при подключении сети питания кристаллы располагаются перпендикулярно стеклу и не отображают солнечные лучи, и стекло вновь становится прозрачным.
        p Техника нанесения рисунка на стекло или керамику – это горячее деколирование. Деколирование применяется для нанесения логотипов на вазы, бокалы; брендирования посуды для ресторанов. А также узоры можно нанести на пивные кружки, фарфоровую посуду, керамическую плитку и многие другие поверхности.



