extends ../layout/project
include ../../components/textblock/textblock.pug
block variables 
    - let title= 'FMGroup | Продукт ...' 
block page
    .container
        h1 Как правильно выбрать гильотинные ножницы?
        p Чтобы правильно выбрать гильотинные ножницы (гильотины), нужно четко понимать принцип их работы и количество необходимых функций для конкретного производственного процесса.
        p Главный принцип работы всех гильотинных ножниц заключается в резке листового либо профильного металла. Оборудование предназначено для использования как в производственной сфере, так и в небольших частных мастерских, специализирующихся на металлоконструкциях.
        p Ножницы гильотинного типа позволяют осуществлять высокоточный и быстрый раскрой заготовок в поперечном и продольном направлении.
        p Современные производители предлагают большой выбор моделей данных станков. Рассмотрим основные критерии как правильно выбрать гильотинные ножницы, чтобы приобрести функциональный станок, не переплачивая при этом за ненужные функции.
        h2 Для чего используются
        p Так как гильотины обладают разнообразными техническими характеристиками, их выбор во многом зависит от того, для каких целей их будут использовать.
        p Область применения гильотинных ножниц:
        ul 
            li 
                span Металлические материалы для кровель;
            li 
                span Вентиляционные каналы независимо от сечения;
            li 
                span Средства для наружной рекламы;
            li 
                span Практически любые металлоконструкции: каркасы из металла для мебели, заборы и ограды, двери, арочные проемы, ангары.

