extends ../layout/project
include ../../components/textblock/textblock.pug
block variables 
    - let title= 'FMGroup | Contacts' 
block page
    .contacts-page.contacts__container
        .contacts__socials.socials 
            .contacts__liner 
                .liner.liner-up
            .contacts__vk 
                img(src="../../assets/img/svg/vk.svg" alt="vk")
            .contacts__youtube
                img(src="../../assets/img/svg/youtube.svg" alt="vk")
            .contacts__liner 
                .liner.liner-down 

        +textblock("contacts__legal-address","Юридический адрес")
            block body 
                p 440008, Пензенская область, город Пенза, Горная улица, стр 3а, этаж 3, кабинет 312
        +textblock("contacts__postal-address","Почтовый адрес")
            block body 
                p 442780, Россия, Пензенская область, с. Бессоновка, ул. Нагорная, 12г/7
        +textblock("contacts__jobtime","Часы работы")
            block body 
                p ПН.- ПТ. с 9:00 до 18:00 Перерыв: с 12:00 до 13:00
        +textblock("contacts__accountant","Бухгалтерия")
            block body 
                p E-mail: <a href="mailto:fmgbuh@bk.ru">fmgbuh@bk.ru</a><br> тел.: <a href="tel:+78414026246">+7 (841) 402-62-46</a>
        +textblock("contacts__sales","Отдел продаж")
            block body 
                p E-mail: <a href="mailto:sale@fmg58.ru">sale@fmg58.ru</a><br> тел.: <a href="tel:88007006958">8 800 700 69 58</a>
            h2 Режим работы
            ul 
                each i in ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница']
                    li.day 
                        span.day__name= i
                        span.day__time 9.00 - 18.00
                li.day 
                    span.day__name Суббота
                    span.day__time.day__time_red выходной
                li.day 
                    span.day__name Воскреснье
                    span.day__time.day__time_red выходной

        +textblock("contacts__production","Производство")
            block body 
                p 442780, Пензенская обл. с. Бессоновка, ул. Нагорная, 12г/7 E-mail: <a href="mailto:info@fmg58.ru">info@fmg58.ru</a>
        +textblock("contacts__supply","Отдел снабжения")
            block body 
                p E-mail: <a href="mailto:fmg58@yandex.ru">fmg58@yandex.ru</a>
        #map(style="width: 600px; height: 400px")
        .contacts__contacts
            .contacts__phone 
                a(href="tel:88007006958") 8 (800) 700 69-58
            .contacts__allday Консультация и прием заказов круглосуточно
    script(src="https://api-maps.yandex.ru/2.1/?apikey=9b27ecf5-fac6-419d-b8f5-184a9818db91&lang=ru_RU" type="text/javascript")
    script
        include ../../js/initYM.js
