extends ../layout/default

block variables
	- var title = 'FMGroup'

block content

	main
		.controls
			button.control.control__up  
			button.control.control__downn
		.indicator 
			.indicator__title 
			.indicator__meter
		
		//screens получаем из json
		-
			let screens = {
				tiser:{name:'Тизер',path:'../screens/tiser.pug'},
				products:{ name:'Продукция', path: '../screens/products.pug'},
				priority: {name:'Приоритет', path: '../screens/prioprity.pug'},
				about:{name: 'О нас', path: '../screens/about.pug'},
				application:{name:'Заявка', path: '../screens/application.pug'}, 
				contacts:{name:'Контакты', path: '../screens/contacts.pug'}
				}

		//- each val, screen in screens
		//- 	section(class=screen)
		//- 		include= val.path
		//- динамический импорт не подерживается

		section.tiser 
			include ../screens/tiser.pug
		section.products 
			include ../screens/products.pug
		section.priority 
			include ../screens/priority.pug
		section.about 
			include ../screens/about.pug
		section.application 
			include ../screens/application.pug
		section.contacts 
			include ../screens/contacts.pug