extends ../layout/default

block variables
	- var title = 'FMGroup'

block content

	main
		.controls
			button.control.control__up  
				.up Вверх 
				include ../../../assets/svg/arrow.svg

			button.control.control__down 
				.down Вниз
				include ../../../assets/svg/arrow.svg

		.indicator 
			.indicator__title 
			.indicator__meter
		
		//screens получаем из json
		-
			let screens = {
				tiser:{name:'Тизер',path:'../screens/tiser.pug'},
				products:{ name:'Продукция', path: '../screens/products.pug'},
				priority: {name:'Приоритет', path: '../screens/prioprity.pug'},
				about:{name: 'О нас', path: '../screens/about.pug'},
				application:{name:'Заявка', path: '../screens/application.pug'}, 
				contacts:{name:'Контакты', path: '../screens/contacts.pug'}
				}

		//- each val, screen in screens
		//- 	section(class=screen)
		//- 		include= val.path
		//- динамический импорт не подерживается
		.container
			section.screen.tiser 
				include ../screens/tiser.pug
			section.screen.products 
				include ../screens/products.pug
			section.screen.priority 
				include ../screens/priority.pug
			section.screen.about 
				include ../screens/about.pug
			section.screen.application 
				include ../screens/application.pug
			section.screen.contacts 
				include ../screens/contacts.pug