include ../../components/header/header.pug
include ../../components/header/header.pug
include ../../components/tabs/tabs.pug
include ../mixin/production-page
include ../mixin/slider.pug

.production
    +header 
    //- .production.priority__backword.priority__backword_up FMGroup
    //- .production.priority__backword.priority__backword_down FMGroup
    .big-label__container.big-label__container_up
        .big-label__title.big-label__title_up FMGroup
    .big-label__container.big-label__container_down
        .big-label__title.big-label__title_down FMGroup
    .production__body 
        - let tabs = {plasma:"Оборудование для плазменной резки",glass:"Оборудование для обработки стекла",furniture:"Оборудование для мебельного производства"}
        +tabs(tabs)
        section.production__category
            +slider('production__slider')
                .production__page.slider__item(data-page="0")
                    +productionPage({
                        title:"Серия СПР РС",
                        description: "Станок плазменной резки серии СПР РС",
                        definition: "работа с листовым материалом толщиной до 100 мм",
                        specification: "конструкция разнесенная, подходит для стационарного монтажа на предприятии",
                        footerTitle: "Идеальное решение для средних и крупных производств",
                        footerDescription: "Линейка станков плазменной резки с ЧПУ. Разработаны для ценителей высокоточной и высокопроизводительной, качественной резки металла 24 часа в сутки, 7 дней в неделю.",
                        src: "../../assets/img/tiser/tool.png"
                    })
                        li Компания FMGroup предлагает решения для всех типов производства
                        li Станки с различными техническими решениями для легкой и тяжелой серии
                        li Комплексный подход — адаптация различных источников плазменной резки
                        li Широкая линейка размеров рабочего поля
                        li Оснащение механизированным газовым резаком как на отдельном суппорте, так и сменная конструкция
                .production__page.slider__item(data-page="1")
                    +productionPage({
                        title:"Серия СПР РС",
                        description: "Станок плазменной резки серии СПР РС",
                        definition: "работа с листовым материалом толщиной до 100 мм",
                        specification: "конструкция разнесенная, подходит для стационарного монтажа на предприятии",
                        footerTitle: "Идеальное решение для средних и крупных производств",
                        footerDescription: "Линейка станков плазменной резки с ЧПУ. Разработаны для ценителей высокоточной и высокопроизводительной, качественной резки металла 24 часа в сутки, 7 дней в неделю.",
                        src: "../../assets/img/tiser/tool.png"
                    })
                        li Компания FMGroup предлагает решения для всех типов производства
                        li Станки с различными техническими решениями для легкой и тяжелой серии
                        li Комплексный подход — адаптация различных источников плазменной резки
                        li Широкая линейка размеров рабочего поля
                        li Оснащение механизированным газовым резаком как на отдельном суппорте, так и сменная конструкция
                .production__page.slider__item(data-page="1")
                    +productionPage({
                        title:"Серия СПР РС",
                        description: "Станок плазменной резки серии СПР РС",
                        definition: "работа с листовым материалом толщиной до 100 мм",
                        specification: "конструкция разнесенная, подходит для стационарного монтажа на предприятии",
                        footerTitle: "Идеальное решение для средних и крупных производств",
                        footerDescription: "Линейка станков плазменной резки с ЧПУ. Разработаны для ценителей высокоточной и высокопроизводительной, качественной резки металла 24 часа в сутки, 7 дней в неделю.",
                        src: "../../assets/img/tiser/tool.png"
                    })
                        li Компания FMGroup предлагает решения для всех типов производства
                        li Станки с различными техническими решениями для легкой и тяжелой серии
                        li Комплексный подход — адаптация различных источников плазменной резки
                        li Широкая линейка размеров рабочего поля
                        li Оснащение механизированным газовым резаком как на отдельном суппорте, так и сменная конструкция
    .production__footer.footer 
        include ../../components/footer/footer

