extends ../layout/project
//- include ../../components/header/header.pug
include ../../components/tabs/tabs.pug
include ../mixin/production-page
include ../mixin/slider.pug
//- include ../../components/button/button.pug
include ../../components/modal/modal.pug
include ../mixin/mainFeature.pug

block variables
    - let title = 'FMGroup | Продукция'
block page
    -
        const sandblasting = [
                {
                    id:0,
                    def:{
                    title:"АПУ-3015 Premium",
                    price: 1000000,
                    description: "АВТОМАТИЗИРОВАННАЯ ПЕСКОСТРУЙНАЯ УСТАНОВКА",
                    definition: "Автоматизированная пескоструйная установка для матирования и нанесения рисунка на стекла и зеркала",
                    specification: "конструкция разнесенная, подходит для стационарного монтажа на предприятии",
                    footerTitle: "Идеальное решение для средних и крупных производств",
                    footerDescription: "Линейка автоматических пескоструйных установок. Разработаны для ценителей  высокопроизводительной и качественной обработки стекла 24 часа в сутки, 7 дней в неделю.",
                    src: "../../assets/img/production/APU_3015_Premialnaya3.png"
                    },
                    solutions: [
                        "Постоянство таких параметров, как расстояние от форсунки до поверхности заготовки, прямой угол между продольной осью форсунки и поверхностью заготовки, а также скорость истечения абразива, гарантирует стабильность высокого качества обработки",
                        "Визуальный контроль за обрабатываемой поверхностью",
                        "Система освещения рабочей зоны",
                        "Сопло изготовлено из карбида бора. Срок эксплуатации до 1000 часов",
                        "Многократное использование абразива. Постоянная сепарация стеклянной пыли от абразивного материала",
                        "Возможность использования как пленочных, так и металлических многоразовых шаблонов",
                        "Свободный доступ ко всем узлам и агрегатам",
                        "Рабочие части вынесены за пределы кабины и не подвергаются воздействию абразива",
                        "Установка обеспечивает высокую скорость обработки, чистоту и экономичность производства",
                    ],
                    mainFeatures: [
                        {
                            title:"РАЗМЕР ЗАГОТОВКИ:",
                            options:[
                                {name:"Высота, макс. мм", value: "1800"},
                                {name:"Длина, макс. мм", value: "3500"},
                                {name:"Толщина, мм", value: "3-40"},
                            ]
                        },
                        {
                            title:"ОБЛАСТЬ ОБРАБОТКИ:",
                            options:[
                                {name:"Высота, мм", value: "1500"},
                                {name:"Длина,  мм", value: "2650"},
                            ]
                        },
                        {
                            title:"ИСТОЧНИКИ ПИТАНИЯ:",
                            options:[
                                {name:"электропитание", value: "220В, 50 Гц,1 фаза"},
                            ]
                        },
                        {
                            title:"",
                            options:[
                                {name:"Давление воздуха, бар", value: "6-8"},
                                {name:"Расход воздуха, л/мин", value: "1800"},
                                {name:"Мощность, кВт", value: "2,2"},
                                {name:"Габаритные размеры (Д*Ш*В),мм", value: "4000*1800*2650"},
                                {name:"Масса, кг", value: "1000"},
                            ]
                        },
                    ]
                },
                {
                    id:1,
                    def:{
                    title:"АПУ-3522 Premium",
                    price: 1000000,
                    description: "АВТОМАТИЗИРОВАННАЯ ПЕСКОСТРУЙНАЯ УСТАНОВКА",
                    definition: "Автоматизированная пескоструйная установка для матирования и нанесения рисунка на стекла и зеркала",
                    specification: "конструкция разнесенная, подходит для стационарного монтажа на предприятии",
                    footerTitle: "Идеальное решение для средних и крупных производств",
                    footerDescription: "Линейка автоматических пескоструйных установок. Разработаны для ценителей  высокопроизводительной и качественной обработки стекла 24 часа в сутки, 7 дней в неделю.",
                    src: "../../assets/img/production/APU_3522.png"
                    },
                    solutions: [
                        "Постоянство таких параметров, как расстояние от форсунки до поверхности заготовки, прямой угол между продольной осью форсунки и поверхностью заготовки, а также скорость истечения абразива, гарантирует стабильность высокого качества обработки",
                        "Визуальный контроль за обрабатываемой поверхностью",
                        "Система освещения рабочей зоны",
                        "Гибкая система регулирования режимов обработки",
                        "Сопло изготовлено из карбида бора. Срок эксплуатации до 1000 часов",
                        "Многократное использование абразива. Постоянная сепарация стеклянной пыли от абразивного материала",
                        "Конструкция кабины предотвращает попадание абразива и стеклянной пыли вне рабочей зоны",
                        "Система принудительного удаления пыли из рабочей зоны",
                        "Возможность использования как пленочных, так и металлических многоразовых шаблонов",
                        "Свободный доступ ко всем узлам и агрегатам",
                        "Отсутствие статики",
                        "Рабочие части вынесены за пределы кабины и не подвергаются воздействию абразива",
                        "Система аспирации и рекуперации воздуха",
                        "Барботажная система",
                        "Мультизонная обработка",
                        "Установка обеспечивает высокую скорость обработки, чистоту и экономичность производства",
                    ],
                    mainFeatures:[
                        {
                            title:"РАЗМЕР ЗАГОТОВКИ:",
                            options:[
                                {name:"Высота, макс. мм", value: "2350"},
                                {name:"Длина, макс. мм", value: "3500"},
                                {name:"Толщина, мм", value: "3-40"},
                            ]
                        },
                        {
                            title:"ОБЛАСТЬ ОБРАБОТКИ:",
                            options:[
                                {name:"Высота, мм", value: "2200"},
                                {name:"Длина,  мм", value: "3500"},
                            ]
                        },
                        {
                            title:"ИСТОЧНИКИ ПИТАНИЯ:",
                            options:[
                                {name:"электропитание", value: "220В, 50 Гц,1 фаза"},
                            ]
                        },
                        {
                            title:"",
                            options:[
                                {name:"Давление воздуха, бар", value: "6-8"},
                                {name:"Расход воздуха, л/мин", value: "1800"},
                                {name:"Мощность, кВт", value: "2,2"},
                                {name:"Габаритные размеры (Д*Ш*В),мм", value: "5000*2100*3350"},
                                {name:"Масса, кг", value: "1400"},
                            ]
                        },
                    ]

                },
                {
                    id:2,
                    def:{
                    title:"АРПУ-3015 Premium",
                    price: 1000000,
                    description: "АВТОМАТИЗИРОВАННАЯ ПЕСКОСТРУЙНАЯ  УСТАНОВКА",
                    definition: "Автоматизированная пескоструйная установка для матирования и нанесения рисунка на стекла и зеркала",
                    specification: "конструкция разнесенная, подходит для стационарного монтажа на предприятии",
                    footerTitle: "Идеальное решение для средних и крупных производств",
                    footerDescription: "Линейка автоматических пескоструйных установок. Разработаны для ценителей  высокопроизводительной и качественной обработки стекла 24 часа в сутки, 7 дней в неделю.",
                    src: "../../assets/img/production/APU-3015 Premium.png"
                    },
                    solutions: [
                        "Постоянство таких параметров, как расстояние от форсунки до поверхности заготовки, прямой угол между продольной осью форсунки и поверхностью заготовки, а также скорость истечения абразива, гарантирует стабильность высокого качества обработки",
                        "Визуальный контроль за обрабатываемой поверхностью",
                        "Система освещения рабочей зоны",
                        "Гибкая система регулирования режимов обработки",
                        "Сопло изготовлено из карбида бора. Срок эксплуатации до 1000 часов",
                        "Многократное использование абразива. Постоянная сепарация стеклянной пыли от абразивного материала",
                        "Конструкция кабины предотвращает попадание абразива и стеклянной пыли вне рабочей зоны",
                        "Система принудительного удаления пыли из рабочей зоны",
                        "Возможность использования как пленочных, так и металлических многоразовых шаблонов",
                        "Свободный доступ ко всем узлам и агрегатам",
                        "Отсутствие статики",
                        "Рабочие части вынесены за пределы кабины и не подвергаются воздействию абразива",
                        "Система аспирации и рекуперации воздуха",
                        "Барботажная система",
                        "Мультизонная обработка",
                        "Ручной эжектор",
                        "Установка обеспечивает высокую скорость обработки, чистоту и экономичность производства",
                    ],
                    mainFeatures:[
                        {
                            title:"РАЗМЕР ЗАГОТОВКИ:",
                            options:[
                                {name:"Высота, макс. мм", value: "1800"},
                                {name:"Длина, макс. мм", value: "3500"},
                                {name:"Толщина, мм", value: "3-40"},
                            ]
                        },
                        {
                            title:"ОБЛАСТЬ ОБРАБОТКИ:",
                            options:[
                                {name:"Высота, мм", value: "1500"},
                                {name:"Длина,  мм", value: "2650"},
                            ]
                        },
                        {
                            title:"ИСТОЧНИКИ ПИТАНИЯ:",
                            options:[
                                {name:"электропитание", value: "220В, 50 Гц,1 фаза"},
                            ]
                        },
                        {
                            title:"",
                            options:[
                                {name:"Давление воздуха, бар", value: "6-8"},
                                {name:"Расход воздуха, л/мин", value: "1800"},
                                {name:"Мощность, кВт", value: "2,2"},
                                {name:"Габаритные размеры (Д*Ш*В),мм", value: "4500*1800*2650"},
                                {name:"Масса, кг", value: "1050"},
                            ]
                        },
                    ]

                },
                
            ]
        const plasma = [
            {
                id:0,
                def:{
                title:"серия УПМР",
                price: 1000000,
                description: "СТАНОК ПЛАЗМЕННОЙ РЕЗКИ",
                definition: "Система газокислородной резки FMG УПМР c ЧПУ позволяет обрабатывать металл толщиной от 0,5 до 200 мм",
                specification: "конструкция разнесенная, подходит для стационарного монтажа на предприятии",
                footerTitle: "Идеальное решение для средних и крупных производств",
                footerDescription: "Линейка станков плазменной резки с ЧПУ. Разработаны для ценителей высокоточной и высокопроизводительной, качественной резки металла 24 часа в сутки, 7 дней в неделю.",
                src: "../../assets/img/production/UPMR.png"
                },
                solutions: [
                    "Конструкция станка выполнена из стали",
                    "Используется два сервопривода по оси Х и один по оси Y",
                    "Перемещение за счет зубчатого зацепления шестерня-рейка",
                    "Автоматическое управление высотой резака в процессе резки (слежение по напряжению дуги)",
                    "Возобновление резки с любого места карты раскроя",
                    "Функция продолжения резки после аварийного отключения станка",
                    "Работает со стандартами DIN/ISO и G-кодом",
                    "Формат DXF",
                    "Возможность изменить параметры резки в процессе обработки",
                    "Бесплатное программное обеспечение",
                    "Маршевая скорость перемещения 25 м/мин",
                    "Источники плазменной резки от 45 до 300 ампер",
                    "Возможна установка нескольких газокислородных резаков",
                    "Быстрая смена способов обработки плазменной или газокислородной с клавиатуры",
                    "Опционально предоставляется система фильтрации газов, образующихся в процессе плазменной резки металла",
                ],
                mainFeatures:[
                    {
                        title:"",
                        options:[
                            {name:"Размер рабочего поля, мм", value: "2500*1250; 3000*1500; 3000*2000; 6000*1500; 6000*2000"},
                            {name:"Толщина плазменной резки с пробивкой, мм", value: "0,5-50"},
                            {name:"Толщина газовой резки, мм", value: "20-200"},
                            {name:"Точность резки (воспроизведения заданного контура), мм", value: "0,2±0,1"},
                            {name:"Скорость позиционирования, мм/мин", value: "25000"},
                            {name:"Тип привода осей", value: "сервопривод"},
                            {name:"Координатный стол", value: "Водоналивной, центральная вытяжная система, секционная вытяжная система"},
                            {name:"Система «ТНС-FMGroup»", value: "автоматическая"},
                            {name:"Система защиты резака от удара о заготовку «NO DAMAGE»", value: "автоматическая"},
                            {name:"Защита от потери позиции при аварийной остановке", value: "автоматическая"},
                            {name:"Система разворота координат (быстрый поиск нуля заготовки)", value: "автоматическая"},
                            {name:"Энергопотребление – приводы со стойкой ЧПУ, кВт", value: "3"},
                            {name:"Напряжение сети, В", value: "380"},
                            {name:"Грузоподъемность, кг, не менее", value: "4000"},
                            {name:"Габаритные размеры (Д*Ш*В),мм", value: "7000х2900х1800"},
                            {name:"Масса, кг", value: "2400"},
                        ]
                    },
                ]

            },
            {
                id:1,
                def:{
                title:"серия УПМР с модулем раскроя труб",
                price: 1000000,
                description: "СТАНОК ПЛАЗМЕННОЙ РЕЗКИ",
                definition: "Станок плазменной резки серия УПМР с модулям раскроя труб c ЧПУ позволяет обрабатывать металл толщиной от 0,5 до 200 мм, а также круглые и профильные трубы диаметром от 50 до 325 мм",
                specification: "конструкция разнесенная, подходит для стационарного монтажа на предприятии",
                footerTitle: "Идеальное решение для средних и крупных производств",
                footerDescription: "Линейка станков плазменной резки с ЧПУ. Разработаны для ценителей высокоточной и высокопроизводительной, качественной резки металла 24 часа в сутки, 7 дней в неделю.",
                src: "../../assets/img/production/UPMR-layout.png"
                },
                solutions: [
                    "Стальная, виброустойчивая конструкция станка;",
                    "Сервоприводы, электрические компоненты и управляющие системы интегрированы в корпус станка;",
                    "Перемещение за счет зубчатого зацепления шестерня-рейка;",
                    "Планетарный редуктор;",
                    "ШВП на оси Z;",
                    "Закрытые линейные направляющие;",
                    "Автоматическое управление высотой резака в процессе резки (слежение по напряжению дуги);",
                    "Возобновление резки с любого места карты раскроя;",
                    "Функция продолжения резки после аварийного отключения станка;",
                    "ЧПУ работает со стандартами DIN/ISO и G-кодом;",
                    "Формат DXF;",
                    "ЧПУ полностью совместима с любыми программами CAD/CAM модуля;",
                    "Возможность изменить параметры резки в процессе обработки;",
                    "Бесплатное программное обеспечение;",
                    "Маршевая скорость перемещения 25 м/мин;",
                    "Источники плазменной резки от 105 до 300 ампер;",
                    "Быстрая смена способов обработки плазменной или газокислородной с клавиатуры;",
                    "Опционально предоставляется система фильтрации газов, образующихся в процессе плазменной резки металла."
                ],
                mainFeatures:[
                    {
                        title:"",
                        options:[
                            {name:"Размер рабочего поля, мм", value: "3000*1500; 3000*2000; 6000*1500; 6000*2000"},
                            {name:"Толщина плазменной резки с пробивкой, мм", value: "0,5-50"},
                            {name:"Толщина газовой резки, мм", value: "20-250"},
                            {name:"Точность резки (воспроизведения заданного контура), мм", value: "0,2±0,1"},
                            {name:"Скорость позиционирования, мм/мин", value: "25000"},
                            {name:"Тип привода осей", value: "сервопривод"},
                            {name:"Координатный стол", value: "секционная вытяжная система"},
                            {name:"Система «ТНС-FMGroup»", value: "автоматическая"},
                            {name:"Система защиты резака от удара о заготовку «NO DAMAGE»", value: "автоматическая"},
                            {name:"Защита от потери позиции при аварийной остановке", value: "автоматическая"},
                            {name:"Система разворота координат (быстрый поиск нуля заготовки)", value: "автоматическая"},
                            {name:"Энергопотребление – приводы со стойкой ЧПУ, кВт", value: "3"},
                            {name:"Напряжение сети, В", value: "380"},
                            {name:"Грузоподъемность, кг, не менее", value: "4000"},
                            {name:"Габаритные размеры (Д*Ш*В),мм", value: "7500х5000х2200"},
                            {name:"Масса, кг", value: "2600"},
                        ]
                    },
                ]

            },
            
            {
                id:3 ,
                def:{
                title:"серия РС-1",
                price: 1000000,
                description: "СТАНОК ПЛАЗМЕННОЙ РЕЗКИ",
                definition: "Система газокислородной резки FMG РС-1 c ЧПУ позволяет обрабатывать металл толщиной от 0,5 до 50 мм.",
                specification: "конструкция разнесенная, подходит для стационарного монтажа на предприятии",
                footerTitle: "Идеальное решение для средних и крупных производств",
                footerDescription: "Линейка станков плазменной резки с ЧПУ. Разработаны для ценителей высокоточной и высокопроизводительной, качественной резки металла 24 часа в сутки, 7 дней в неделю.",
                src: "../../assets/img/production/РС-1.png"
                },
                solutions: [
                    "Конструкция станка выполнена из стали;",
                    "Используется два сервопривода по оси Х и один по оси Y;",
                    "Перемещение за счет зубчатого зацепления шестерня-рейка;",
                    "Автоматическое управление высотой резака в процессе резки (слежение по напряжению дуги);",
                    "Возобновление резки с любого места карты раскроя;",
                    "Функция продолжения резки после аварийного отключения станка;",
                    "Формат DXF;",
                    "Бесплатное программное обеспечение;",
                    "Маршевая скорость перемещения 12 м/мин;",
                    "Источники плазменной резки от 45 до 125 ампер"
                ],
                mainFeatures:[
                    {
                        title:"",
                        options:[
                            {name:"Размер рабочего поля, мм", value: "2500*1250; 3000*1500; 3000*2000; 6000*1500; 6000*2000"},
                            {name:"Толщина плазменной резки с пробивкой, мм", value: "0,5-25"},
                            {name:"Точность резки (воспроизведения заданного контура), мм", value: "0,2±0,1"},
                            {name:"Скорость позиционирования, мм/мин", value: "12000"},
                            {name:"Тип привода осей", value: "сервопривод"},
                            {name:"Координатный стол", value: "Водоналивной, центральная вытяжная система"},
                            {name:"Система «ТНС-FMGroup»", value: "автоматическая"},
                            {name:"Система защиты резака от удара о заготовку «NO DAMAGE»", value: "автоматическая"},
                            {name:"Защита от потери позиции при аварийной остановке", value: "автоматическая"},
                            {name:"Система разворота координат (быстрый поиск нуля заготовки)", value: "автоматическая"},
                            {name:"Энергопотребление – приводы со стойкой ЧПУ, кВт", value: "3"},
                            {name:"Напряжение сети, В", value: "380"},
                            {name:"Грузоподъемность, кг, не менее", value: "2000"},
                            {name:"Габаритные размеры (Д*Ш*В),мм", value: "7000х3100х1800"},
                            {name:"Масса, кг для модели СПР-6020", value: "800"},
                        ]
                    },
                ]

            },
            {
                id:4 ,
                def:{
                title:"серия РС-2",
                price: 1000000,
                description: "СТАНОК ПЛАЗМЕННОЙ РЕЗКИ",
                definition: "Система газокислородной резки FMG РС-2 c ЧПУ позволяет обрабатывать металл толщиной от 0,5 до 50 мм.",
                specification: "конструкция разнесенная, подходит для стационарного монтажа на предприятии",
                footerTitle: "Идеальное решение для средних и крупных производств",
                footerDescription: "Линейка станков плазменной резки с ЧПУ. Разработаны для ценителей высокоточной и высокопроизводительной, качественной резки металла 24 часа в сутки, 7 дней в неделю.",
                src: "../../assets/img/production/РС-2.png"
                },
                solutions: [
                    "Стальная, виброустойчивая конструкция станка;",
                    "Сервоприводы, электрические компоненты и управляющие системы интегрированы в корпус станка;",
                    "Перемещение за счет зубчатого зацепления шестерня-рейка;",
                    "Планетарный редуктор;",
                    "ШВП на оси Z;",
                    "Закрытые линейные направляющие;",
                    "Автоматическое управление высотой резака в процессе резки (слежение по напряжению дуги);",
                    "Возобновление резки с любого места карты раскроя;",
                    "Функция продолжения резки после аварийного отключения станка;",
                    "ЧПУ работает со стандартами DIN/ISO и G-кодом;",
                    "Формат DXF;",
                    "ЧПУ полностью совместима с любыми программами CAD/CAM модуля;",
                    "Возможность изменить параметры резки в процессе обработки;",
                    "Бесплатное программное обеспечение;",
                    "Маршевая скорость перемещения 25 м/мин;",
                    "Источники плазменной резки от 105 до 300 ампер;",
                    "Возможна установка нескольких газокислородных резаков;",
                    "Быстрая смена способов обработки плазменной или газокислородной с клавиатуры;",
                    "Опционально предоставляется система фильтрации газов, образующихся в процессе плазменной резки металла."
                ],
                mainFeatures:[
                    {
                        title:"",
                        options:[
                            {name:"Размер рабочего поля, мм", value: "6000*1500; 6000*2000; 8000*2000; 12000*3000"},
                            {name:"Толщина плазменной резки с пробивкой, мм", value: "0,5-50"},
                            {name:"Точность резки (воспроизведения заданного контура), мм", value: "0,2±0,1"},
                            {name:"Скорость позиционирования, мм/мин", value: "20000"},
                            {name:"Тип привода осей", value: "сервопривод"},
                            {name:"Координатный стол", value: "секционная вытяжная система"},
                            {name:"Система «ТНС-FMGroup»", value: "автоматическая"},
                            {name:"Система защиты резака от удара о заготовку «NO DAMAGE»", value: "автоматическая"},
                            {name:"Защита от потери позиции при аварийной остановке", value: "автоматическая"},
                            {name:"Система разворота координат (быстрый поиск нуля заготовки)", value: "автоматическая"},
                            {name:"Энергопотребление – приводы со стойкой ЧПУ, кВт", value: "3"},
                            {name:"Напряжение сети, В", value: "380"},
                            {name:"Грузоподъемность, кг, не менее", value: "4000"},
                            {name:"Габаритные размеры (Д*Ш*В),мм", value: "7500х4000х2200"},
                            {name:"Масса, кг для модели СПР-6020", value: "2600"},
                        ]
                    },
                ]

            }
        ]  
        const laser =[
            {
                id:0 ,
                def:{
                title:"LS-3015C 2000/3000W RAYCUS",
                price: 1000000,
                description: "СТАНОК ЛАЗЕРНОЙ РЕЗКИ",
                definition: "Сюда нужно разместить краткое предназначение оборудования",
                specification: "Здесь должна быть описана уникальность оборудования",
                footerTitle: "",
                footerDescription: "",
                src: "../../assets/img/production/3015 Лазер.jpg"
                },
                solutions: [
                    "В основе станков — тяжелая сварная станина, выполненная из труб и профилей, листового металла особого сечения методом сверхточного компьютерного моделирования пространственных структур, что позволяет получить высочайшую жесткость при повышенной вязкости. В результате такая конструкция обеспечивает лучшие динамические показатели работы станка, по сравнению с традиционными решениями. Итоговый этап обработки сотовой структуры станины — термический отжиг ",
                    "Литой алюминиевый портал, выполненный с применением авиационных технологий, легкий алюминиевый портал обеспечивает высокое ускорение до рабочих скоростей резов и минимальную инерцию при работе;",
                    "Мы используем лазерные головки швейцарского бренда Raytools – признанного мирового лидера отрасли. Автоматическая фокусировка головки позволяет повысить эффективность и сэкономить время. Конструкция лазерной головки позволяет быстро и просто проводить обслуживание защитных линз и настраивать фокус. Головка снабжена регулировкой высоты и датчиком для предотвращения столкновений.;",
                    "Энергоэффективный и стабильный в использовании. Надежный и простой в обслуживании. Мы комплектуем наши лазерные станки чиллерами от крупнейшего производителя в Китае;",
                    "Сервоприводы и приводы Fuji с быстрым динамическим откликом обеспечивают скорость и стабильность производительности. Максимальная скорость холостого хода машины может достигать 120 м/мин с помощью;",
                    "Станок оснащен лазерным источником компании RAYCUS. Это всемирно признанный лидер в области производства оптоволоконных лазеров, что подтверждает безупречная и безотказная работа. В лазерном излучателе установлена система кондиционирования для охлаждения электрокомпонентов.;",
                    "Малошумящие, износостойкие, плавные для поддержания высокой скорости движения лазерной головки. Линейная система передачи состоит из винтовой стойки и Линейные направляющие, повышающие точность и эффективность.",
                    "Высокая точность, длительный срок службы, может обеспечить жесткую поддержку для закалки спиральных зубчатых колес и шлифования спиральных зубчатых колес, так что конструкция привода нагрузки является компактной, может эффективно уменьшить вращающий момент.",
                    "Идеальное сочетание сервосистемы с планетарной коробкой передач Shimpo и винтовой рейкой, и шестерней повышает точность позиционирования машины.",
                    "Автоматическая система смазки рельса. Можно установить частоту и количество добавляемого масла путем настройки соответствующих параметров на компьютере, так что это в значительной степени улучшает срок службы машины и экономит рабочую силу.",
                    "Корпуса подшипников имеют квадратный фланец, который можно легко прикрепить к машине с помощью четырех болтов. С его простой монтажной поверхностью, этот подшипниковый узел широко используется."
                
                ],
                mainFeatures:[
                    {
                        title:"",
                        options:[
                            {name:"Рабочая площадь (мм)", value: "3000*1500"},
                            {name:"Мощность лазерного источника (Вт)", value: "2000/3000"},
                            {name:"Тип лазера", value: "Оптоволоконный лазер"},
                            {name:"Производитель лазерного источника", value: "Raycus"},
                            {name:"Производитель и модель лазерной головы", value: "Raytools"},
                            {name:"Автофокус (да/нет)", value: "да"},
                            {name:"Модель лазерной головы", value: "Серия BM"},
                            {name:"Программное обеспечение", value: "FSCUT2000 (Cypcut)"},
                            {name:"Вид охлаждения", value: "Чиллер"},
                            {name:"Производитель чиллера", value: "S&A/Hanli"},
                            {name:"Серводвигатель", value: "Fuji (японский бренд)"},
                            {name:"Редуктор", value: "Shimpo (японский бренд)"},
                            {name:"Направляющие", value: "PEK"},
                            {name:"Шестерни-рейки", value: "Leitesen (Тайвань)"},
                            {name:"Пневматические компоненты", value: "SMC (японский бренд)"},
                            {name:"Электрокомпоненты", value: "Schneider (французский бренд)"},
                            {name:"Подшипник", value: "NSK (японский бренд)"},
                            {name:"Компьютер", value: "Консольного типа"},
                            {name:"Срок работы лазера (ч)", value: "До 100 000"},
                            {name:"Максимальная скорость скорость резки (м/мин)", value: "До 30"},
                            {name:"Максимальная скорость холостого хода (м/мин)", value: "До 120"},
                            {name:"Точность позиционирования (мм)", value: "±0.03"},
                            {name:"Точность повторного позиционирования (мм)", value: "±0.02"},
                            {name:"Ускорение", value: "До 1,2G"},
                            {name:"Напряжение (В)", value: "380"},
                            {name:"Частота тока (Гц)", value: "50"},
                            {name:"Вес станка (кг)", value: "3700"},
                        ]
                    },
                ]

            },
            {
                id:1 ,
                def:{
                title:"LS-6015C 3000/4000/6000W RAYCUS",
                price: 1000000,
                description: "СТАНОК ЛАЗЕРНОЙ РЕЗКИ",
                definition: "Сюда нужно разместить краткое предназначение оборудования",
                specification: "Здесь должна быть описана уникальность оборудования",
                footerTitle: "",
                footerDescription: "",
                src: "../../assets/img/production/6015 Лазер.jpg"
                },
                solutions: [
                    "В основе станков — тяжелая сварная станина, выполненная из труб и профилей, листового металла особого сечения методом сверхточного компьютерного моделирования пространственных структур, что позволяет получить высочайшую жесткость при повышенной вязкости. В результате такая конструкция обеспечивает лучшие динамические показатели работы станка, по сравнению с традиционными решениями. Итоговый этап обработки сотовой структуры станины — термический отжиг;",
                    "Литой алюминиевый портал, выполненный с применением авиационных технологий, легкий алюминиевый портал обеспечивает высокое ускорение до рабочих скоростей резов и минимальную инерцию при работе;",
                    "Мы используем лазерные головки швейцарского бренда Raytools – признанного мирового лидера отрасли. Автоматическая фокусировка головки позволяет повысить эффективность и сэкономить время. Конструкция лазерной головки позволяет быстро и просто проводить обслуживание защитных линз и настраивать фокус. Головка снабжена регулировкой высоты и датчиком для предотвращения столкновений.;",
                    "Энергоэффективный и стабильный в использовании. Надежный и простой в обслуживании. Мы комплектуем наши лазерные станки чиллерами от крупнейшего производителя в Китае;",
                    "Сервоприводы и приводы Fuji с быстрым динамическим откликом обеспечивают скорость и стабильность производительности. Максимальная скорость холостого хода машины может достигать 120 м/мин с помощью;",
                    "Станок оснащен лазерным источником компании RAYCUS. Это всемирно признанный лидер в области производства оптоволоконных лазеров, что подтверждает безупречная и безотказная работа. В лазерном излучателе установлена система кондиционирования для охлаждения электрокомпонентов.;",
                    "Малошумящие, износостойкие, плавные для поддержания высокой скорости движения лазерной головки. Линейная система передачи состоит из винтовой стойки и Линейные направляющие, повышающие точность и эффективность.",
                    "Высокая точность, длительный срок службы, может обеспечить жесткую поддержку для закалки спиральных зубчатых колес и шлифования спиральных зубчатых колес, так что конструкция привода нагрузки является компактной, может эффективно уменьшить вращающий момент.",
                    "Идеальное сочетание сервосистемы с планетарной коробкой передач Shimpo и винтовой рейкой, и шестерней повышает точность позиционирования машины.",
                    "Автоматическая система смазки рельса. Можно установить частоту и количество добавляемого масла путем настройки соответствующих параметров на компьютере, так что это в значительной степени улучшает срок службы машины и экономит рабочую силу.",
                    "Корпуса подшипников имеют квадратный фланец, который можно легко прикрепить к машине с помощью четырех болтов. С его простой монтажной поверхностью, этот подшипниковый узел широко используется."
                
                ],
                mainFeatures:[
                    {
                        title:"",
                        options:[
                            {name:"Рабочая площадь (мм)", value: "6000*1500"},
                            {name:"Мощность лазерного источника (Вт)", value: "3000/4000/6000"},
                            {name:"Тип лазера", value: "Оптоволоконный лазер"},
                            {name:"Производитель лазерного источника", value: "Raycus"},
                            {name:"Производитель и модель лазерной головы", value: "Raytools"},
                            {name:"Автофокус (да/нет)", value: "да"},
                            {name:"Модель лазерной головы", value: "Серия BM"},
                            {name:"Программное обеспечение", value: "FSCUT2000 (Cypcut)"},
                            {name:"Вид охлаждения", value: "Чиллер"},
                            {name:"Производитель чиллера", value: "S&A/Hanli"},
                            {name:"Серводвигатель", value: "Fuji (японский бренд)"},
                            {name:"Редуктор", value: "Shimpo (японский бренд)"},
                            {name:"Направляющие", value: "PEK"},
                            {name:"Шестерни-рейки", value: "Leitesen (Тайвань)"},
                            {name:"Пневматические компоненты", value: "SMC (японский бренд)"},
                            {name:"Электрокомпоненты", value: "Schneider (французский бренд)"},
                            {name:"Подшипник", value: "NSK (японский бренд)"},
                            {name:"Компьютер", value: "Консольного типа"},
                            {name:"Срок работы лазера (ч)", value: "До 100 000"},
                            {name:"Максимальная скорость скорость резки (м/мин)", value: "До 30"},
                            {name:"Максимальная скорость холостого хода (м/мин)", value: "До 120"},
                            {name:"Точность позиционирования (мм)", value: "±0.03"},
                            {name:"Точность повторного позиционирования (мм)", value: "±0.02"},
                            {name:"Ускорение", value: "До 1,2G"},
                            {name:"Напряжение (В)", value: "380"},
                            {name:"Частота тока (Гц)", value: "50"},
                            {name:"Вес станка (кг)", value: "7000"},
                        ]
                    },
                ]

            }
        ]  
    .production
        .big-label__container.big-label__container_up
            .big-label__title.big-label__title_up FMGroup
        .big-label__container.big-label__container_down
            .big-label__title.big-label__title_down FMGroup
        .production__body 
            - let tabs = ["Автоматические пескоструйные установки","Станки плазменной резки","Станки лазерной резки"]
            +tabs(tabs)
            article.production__category
                -
                    const category = [
                        {name:'production__slider_0', var: sandblasting},
                        {name:'production__slider_1', var: plasma},
                        {name:'production__slider_2', var: laser}
                    ]
                each sec,idx in category
                    section.category(data-category=idx style= idx===0?"opacity:1;":"opacity: 0; display: none;")
                        +slider(sec.name)
                            each d, idx in sec.var
                                .production__page.slider__item(data-page=idx)
                                    +productionPage(d.def)
                                        each i in d.solutions
                                            li
                                                span= i
                                    .production__main-features
                                        .feature__leftline ОСНОВНЫЕ ХАРАКТЕРИСТИКИ
                                        .feature__main
                                            +mainFeature(d.mainFeatures)

    .pruduction__modal 
        +modal


