extends ../layout/project


block page
    -
        const regions = ["Москва и Московская обл.","Санкт-Петербург и область","Адыгея","Алтайский край","Амурская обл.","Архангельская обл.","Астраханская обл.","Башкортостан(Башкирия)","Белгородская обл.","Брянская обл.","Бурятия","Владимирская обл.","Волгоградская обл.","Вологодская обл.","Воронежская обл.","Дагестан","Еврейская обл.","Ивановская обл.","Иркутская обл.","Кабардино-Балкария","Калининградская обл.","Калмыкия","Калужская обл.","Камчатская обл.","Карелия","Кемеровская обл.","Кировская обл.","Коми","Костромская обл.","Краснодарский край","Красноярский край","Курганская обл.","Курская обл.","Липецкая обл.","Магаданская обл.","Марий Эл","Мордовия","Мурманская обл.","Нижегородская (Горьковская)","Новгородская обл.","Новосибирская обл.","Омская обл.","Оренбургская обл.","Орловская обл.","Пензенская обл.","Пермская обл.","Приморский край","Псковская обл.","Ростовская обл.","Рязанская обл.","Самарская обл.","Саратовская обл.","Саха (Якутия)","Сахалин","Свердловская обл.","Северная Осетия","Смоленская обл.","Ставропольский край","Тамбовская обл.","Татарстан","Тверская обл.","Томская обл.","Тува (Тувинская Респ.)","Тульская обл.","Тюменская обл.","Удмуртия","Ульяновская обл.","Уральская обл.","Хабаровский край","Хакасия","Ханты-Мансийский АО","Челябинская обл.","Чечено-Ингушетия","Читинская обл.","Чувашия","Чукотский АО","Ямало-Ненецкий АО","Ярославская обл."]
        const tools =["tool1","tool2","tool3","tool4", "tool5","tool6","tool7","tool8","tool9","tool10"]   
        const toolCards = [
            {name:"first"},
            {name:"second"},
        ] 
    .container 
        h1.title Субъекты Российской Федерации
        .body 
            .controls 
                select(name="center" class="control control__regions")
                    option(value="" disabled selected hidden) Региональный центр
                    each i,idx in regions
                        option(value=idx)= i  
                select(name="center" class="control control__tools")
                    each i,idx in tools
                        option(value=idx)= i  
            #map Здесь будет карта
            .list 
                each card in toolCards 
                    .list-item= card.name
