extends ../layout/project


block page
    -
        const regions = [
            {"id":0,"name":"Москва и Московская обл.", "country":"РФ"},
            {"id":1,"name":"Санкт-Петербург и область", "country":"РФ"},
            {"id":2,"name":"Адыгея", "country":"РФ"},
            {"id":3,"name":"Алтайский край", "country":"РФ"},
            {"id":4,"name":"Амурская обл.", "country":"РФ"},
            {"id":5,"name":"Архангельская обл.", "country":"РФ"},
            {"id":6,"name":"Астраханская обл.", "country":"РФ"},
            {"id":7,"name":"Башкортостан(Башкирия)", "country":"РФ"},
            {"id":8,"name":"Белгородская обл.", "country":"РФ"},
            {"id":9,"name":"Брянская обл.", "country":"РФ"},
            {"id":10,"name":"Бурятия", "country":"РФ"},
            {"id":11,"name":"Владимирская обл.", "country":"РФ"},
            {"id":12,"name":"Волгоградская обл.", "country":"РФ"},
            {"id":13,"name":"Вологодская обл.", "country":"РФ"},
            {"id":14,"name":"Воронежская обл.", "country":"РФ"},
            {"id":15,"name":"Дагестан", "country":"РФ"},
            {"id":16,"name":"Еврейская обл.", "country":"РФ"},
            {"id":17,"name":"Ивановская обл.", "country":"РФ"},
            {"id":18,"name":"Иркутская обл.", "country":"РФ"},
            {"id":19,"name":"Кабардино-Балкария", "country":"РФ"},
            {"id":20,"name":"Калининградская обл.", "country":"РФ"},
            {"id":21,"name":"Калмыкия", "country":"РФ"},
            {"id":22,"name":"Калужская обл.", "country":"РФ"},
            {"id":23,"name":"Камчатская обл.", "country":"РФ"},
            {"id":24,"name":"Карелия", "country":"РФ"},
            {"id":25,"name":"Кемеровская обл.", "country":"РФ"},
            {"id":26,"name":"Кировская обл.", "country":"РФ"},
            {"id":27,"name":"Коми", "country":"РФ"},
            {"id":28,"name":"Костромская обл.", "country":"РФ"},
            {"id":29,"name":"Краснодарский край", "country":"РФ"},
            {"id":30,"name":"Красноярский край", "country":"РФ"},
            {"id":31,"name":"Курганская обл.", "country":"РФ"},
            {"id":32,"name":"Курская обл.", "country":"РФ"},
            {"id":33,"name":"Липецкая обл.", "country":"РФ"},
            {"id":34,"name":"Магаданская обл.", "country":"РФ"},
            {"id":35,"name":"Марий Эл", "country":"РФ"},
            {"id":36,"name":"Мордовия", "country":"РФ"},
            {"id":37,"name":"Мурманская обл.", "country":"РФ"},
            {"id":38,"name":"Нижегородская (Горьковская)", "country":"РФ"},
            {"id":39,"name":"Новгородская обл.", "country":"РФ"},
            {"id":40,"name":"Новосибирская обл.", "country":"РФ"},
            {"id":41,"name":"Омская обл."},
            {"id":42,"name":"Оренбургская обл.", "country":"РФ"},
            {"id":43,"name":"Орловская обл.", "country":"РФ"},
            {"id":44,"name":"Пензенская обл.", "country":"РФ"},
            {"id":45,"name":"Пермская обл.", "country":"РФ"},
            {"id":46,"name":"Приморский край", "country":"РФ"},
            {"id":47,"name":"Псковская обл.", "country":"РФ"},
            {"id":48,"name":"Ростовская обл.", "country":"РФ"},
            {"id":49,"name":"Рязанская обл.", "country":"РФ"},
            {"id":50,"name":"Самарская обл.", "country":"РФ"},
            {"id":51,"name":"Саратовская обл.", "country":"РФ"},
            {"id":52,"name":"Саха (Якутия)", "country":"РФ"},
            {"id":53,"name":"Сахалин", "country":"РФ"},
            {"id":54,"name":"Свердловская обл.", "country":"РФ"},
            {"id":55,"name":"Северная Осетия", "country":"РФ"},
            {"id":56,"name":"Смоленская обл.", "country":"РФ"},
            {"id":57,"name":"Ставропольский край", "country":"РФ"},
            {"id":58,"name":"Тамбовская обл.", "country":"РФ"},
            {"id":59,"name":"Татарстан", "country":"РФ"},
            {"id":60,"name":"Тверская обл.", "country":"РФ"},
            {"id":61,"name":"Томская обл.", "country":"РФ"},
            {"id":62,"name":"Тува (Тувинская Респ.)", "country":"РФ"},
            {"id":63,"name":"Тульская обл.", "country":"РФ"},
            {"id":64,"name":"Тюменская обл.", "country":"РФ"},
            {"id":65,"name":"Удмуртия", "country":"РФ"},
            {"id":66,"name":"Ульяновская обл.", "country":"РФ"},
            {"id":67,"name":"Уральская обл.", "country":"РФ"},
            {"id":68,"name":"Хабаровский край", "country":"РФ"},
            {"id":69,"name":"Хакасия", "country":"РФ"},
            {"id":70,"name":"Ханты-Мансийский АО", "country":"РФ"},
            {"id":71,"name":"Челябинская обл.", "country":"РФ"},
            {"id":72,"name":"Чечьня", "country":"РФ"},
            {"id":73,"name":"Читинская обл.", "country":"РФ"},
            {"id":74,"name":"Чувашия", "country":"РФ"},
            {"id":75,"name":"Чукотский АО", "country":"РФ"},
            {"id":76,"name":"Ямало-Ненецкий АО", "country":"РФ"},
            {"id":77,"name":"Ярославская обл.", "country":"РФ"},
            {"id":78,"name":"Республика Крым", "country":"РФ"},
            {"id":79,"name":"Ингушетия", "country":"РФ"},
            {"id":80,"name":"Карачаево-Черкесия", "country":"РФ"},
            {"id":81,"name":"Ненецкий автономный округ", "country":"РФ"},
            {"id":82,"name":"Республика Алтай", "country":"РФ"},
            {"id":83,"name":"Западно-Казахстанская область", "country":"РК"},
            {"id":84,"name":"Атырауская область", "country":"РК"},
            {"id":85,"name":"Актюбинская область", "country":"РК"},
            {"id":86,"name":"Акмолинская область", "country":"РК"},
            {"id":87,"name":"Северо-Казахстанская область", "country":"РК"},
            {"id":88,"name":"Костанайская область", "country":"РК"},
        ]
        const tools =["Оборудование для плазменной резки","Оборудование для обработки стекла","Оборудование для мебельного производства"]   
        const toolCards = [
            {name:"first"},
            {name:"second"},
        ] 
    .container 
        h1.title Субъекты Российской Федерации и Республики Казахстан
        .body 
            .controls 
                select(name="center" class="control control__regions")
                    option(value="" disabled selected hidden) Региональный центр
                    optgroup(label="РФ")
                        each i, idx in regions.filter(e=>e.country==="РФ")
                            option(value=i.id)= i.name  
                    optgroup(label="РК")
                        each i, idx in regions.filter(e=>e.country==="РК")
                            option(value=i.id)= i.name  
                select(name="center" class="control control__tools")
                    each i, idx in tools
                        option(value=idx)= i  
            #map 
                include ../svg.pug
            .list 
                each card in toolCards 
                    .list-item= card.name
            .hint