-
    let screens = {
        tiser:{name:'Тизер',path:'../screens/tiser.pug'},
        products:{ name:'Продукция', path: '../screens/products.pug'},
        priority: {name:'Приоритет', path: '../screens/prioprity.pug'},
        about:{name: 'О нас', path: '../screens/about.pug'},
        application:{name:'Заявка', path: '../screens/application.pug'}, 
        contacts:{name:'Контакты', path: '../screens/contacts.pug'}
        }