- 

  let img = "tool.jpeg"
  let style = `
    height: 400px; 
  `
.slider
    .slider__wrapper
      .slider__items
        each i in [0,1,2,3]
          .slider__item
            div.main-slider(style=style)
    a.slider__control.slider__control_prev(href="#" role="button" data-slide="prev" style="display:none;")
    a.slider__control.slider__control_next(href="#" role="button" data-slide="next" style="display:none;")