@import "../../sass/_const"
.card
    position: relative
    background: #fff
    border-radius: 5px
    width: calc($metrica * 10)
    padding: 1rem
    margin: 0 calc($metrica * 1)
    @media screen and (max-width:768px)
        padding: 1rem 3rem
    &__title
        text-align: center
        margin-top: calc($metrica * 3)
        font-size: calc($metrica * 1)
    &__body
        text-align: center
        margin-bottom: calc($metrica * 3)
        font-size: calc($metrica * 0.7)
    &__svg
        background: #013485
        position: absolute
        top: 0
        left: 50%
        transform: translate(-50%,-50%)
        border-radius: 50%
        padding: 10px
        border: 1px solid #fff
        width: 50%
        +flex-center
        &::before
            content: ""
            display: block
            padding-top: 100% /* initial ratio of 1:1*/
        @media screen and (max-width:768px)
            width: 30%
            left: 0
            top: 50%

        & > svg
            width: 100%
            height: auto
    @media screen and (max-width:768px)
        width: 50%
        margin-bottom: 2rem
