@import "../../sass/_const"
@import "../../sass/mixins/_flex-center"
.card
    position: relative
    background: #fff
    border-radius: 5px
    width: 382px
    padding: 1rem
    margin: 0 35.5px
    @media screen and (max-width:1024px)
        padding: 2rem 1rem
        margin: 10px 0
        +dfc
        flex-direction: column
    &__title
        text-align: center
        margin-top: calc($metrica * 3)
        font-size: 25px
        font-weight: 400
        @media screen and (max-width:1024px)
            margin: 0 0 1rem 50px
            text-align: center

    &__body
        text-align: center
        margin-bottom: calc($metrica * 3)
        font-size: 18px
        font-weight: 200
        @media screen and (max-width:1024px)
            margin: 0 0 0 50px
    &__svg
        background: #013485
        position: absolute
        top: 0
        left: 50%
        transform: translate(-50%,-50%)
        border-radius: 50%
        padding: 10px
        border: 1px solid #fff
        width: 135px
        +flex-center
        @media screen and (max-width:1024px)
            width: 30%
            left: 0
            top: 50%

        & > svg
            width: 100%
            height: auto
    @media screen and (max-width:768px)
        width: 50%
        margin-bottom: 2rem
    @media screen and (max-width:425px)
        width: 75%
