include ../button/button.pug
mixin modal
    .modal 
        .modal__body 
            button.modal__close
                img(src="../../assets/img/plus-circle.svg")
            h1.modal__title Простое заполнение заявки для расчета стоимости
            input.modal__input(type="text" placeholder="Ваше имя*")
            input.modal__input(type="text" placeholder="Ваш телефон*")
            input.modal__input(type="text" placeholder="Ваш e-mail*")
            +button("modal__button", "ОТПРАВИТЬ")