@import "../../sass/_const.sass"
.big-card
    border: 1px solid #6E9EC1
    border-radius: 7px
    // display: flex
    // justify-content: space-between
    // align-items: center
    margin: 0
    position: relative
    height: 272px
    overflow: hidden
    position: relative
    // font-size: calc($metrica / 2 + 4px)
    @media screen and ( max-width: 1440px )
        height: 300px
    @media screen and ( max-width: 1024px )
        height: 230px
    @media screen and ( max-width: 768px )
        height: 165px
    @media screen and ( max-width: 425px )
        height: 110px

    &__content
        padding: 1em
        position: absolute
        inset: 0
        left: 30%
        background: #fff
        margin: 0 auto
        overflow: hidden
        display: flex
        flex-direction: column
        @media screen and ( max-width: 1440px )
            left: 40%
        @media screen and ( max-width: 1024px )
            left: 30%
        @media screen and ( max-width: 768px )
            left: 24%
            padding: 0.5em 1em
        @media screen and ( max-width: 425px )
            left: 20%
            left: 25%
            padding: 0.5em

    &__img
        height: 100%
        & > img
            // width: 100%
            height: 100%
            margin: 0 0 -6px 0
            transform: translateX(-20%)
            @media screen and ( max-width: 425px )
                transform: translateX(-40%)

    &__title
        color: currentColor
        font-size: 1.5em
        margin-bottom: 1em
        @media screen and ( max-width: 1024px )
            +stringLimit(2)
        @media screen and ( max-width: 768px )
            margin-bottom: 0.5em
            font-size: 1.3em
        @media screen and ( max-width: 560px )
            line-height: 1
        @media screen and ( max-width: 425px )
            font-size: 1.1em
            margin-bottom: 1em
        @media screen and ( max-width: 425px )
            font-size: 0.9em
            margin-bottom: .5em
            font-weight: 500
    &__text
        font-weight: 200
        color: #000
        // -o-text-overflow: ellipsis
        +stringLimit(3)
        margin-bottom: 20px
        @media screen and ( max-width: 425px )
            line-height: 1
            font-size: 0.8em
            +stringLimit(2)
    &__button.button
        height: 29px
        color: $color__deepblue
        margin: 1em 0 0 0
        @media screen and ( max-width: 425px )
            margin: 0
            font-size: 0.8em
            margin: 0
        &:hover
            & > .button__arrow
                background: currentColor
                border: 1px solid currentColor
                border-left: none
        & > .button__name
            padding: 0 1em
            font-size: 1em
            background: #fff
            @media screen and ( max-width: 425px )
                padding: 0 0.3em
        & > .button__arrow
            background: #fff
            border: 1px solid currentColor
            border-left: none
            width: 29px
            // padding: 5px
    &__wrapper
        position: absolute
        bottom: 32px
        right: 34px
        @media screen and ( max-width: 768px )
            width: 100%
            margin: 0 auto
            bottom: .5em
            right: 0.5em
            display: flex
            justify-content: flex-end

// //---
//     &
//         border: 1px solid #6e9ec1
//         border-radius: 7px
//         margin: 0
//         position: relative
//         overflow: hidden
//         position: relative
//         display: flex
//     &__img
//         height: 100%
//         width: 40%
//         &>img
//             height: 100%
//             object-fit: cover
//             width: 100%
//             object-position: center
//     &__content
//         padding: 1em
//         width: 60%
//         display: flex
//         flex-direction: column
//         align-items: flex-end
//     &__text
//         font-weight: 200
//         color: #000
//         display: -webkit-box
//         text-overflow: ellipsis
//         overflow: hidden
//         -webkit-line-clamp: 3
//         margin-bottom: 20px
//     &__wrapper
//         margin-top: auto
//     &_button.button
//         height: 29px
//         color: #013485
//         margin: 0
//     &__title
//         color: currentColor
//         font-size: 1.3em
//         margin-bottom: 1em
