include ../button/button
mixin big-card(title,img,text)
    .big-card 
        .big-card__img 
            img(src=img)
        .big-card__content 
            .big-card__title= title
            .big-card__text= text
            .big-card__wrapper
                +button("big-card__button", "посмотреть")