mixin header(logo) 
    .header__main-head&attributes(attributes)
        .header__menu
            include ../../components/menu/menu.pug
        .header__header
            .header__big-logo
                .header__logo
                    if logo
                        img(src="../../assets/img/tiser/logo.png")
                    else
                        img(src="../../assets/img/tiser/logo_blue.png")
                .header__leftside 
                    .header__title FMGroup 
                    .header__slogan на уровень выше
            h1.header__phone-within 8 800 700 69 58
        h1.header__phone 8 800 700 69 58