mixin header 
    .header__main-head&attributes(attributes)
        .header__menu
            include ../../components/menu/menu.pug
        .header__header
            .header__logo
            .header__leftside 
                .header__title FMGroup 
                .header__slogan на уровень выше
        h1.header__phone 8 800 700 69 58