block variables

doctype html
html(lang='ru')
  head
    title= title
    meta(charset='utf-8')
    meta( name='viewport' content='width=device-width, initial-scale=1' )
    //- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    block connect
  body
    style .preload{position: fixed; inset: 0; z-index: 300; background: #fff; transition: opacity .5s, z-index .5s; opacity: 1;} 
          | .preload.hidden{opacity: 0; z-index: -2;}"
    .preload

    // Header


    block content

    // Footer