extends ../layout/default
include ../../components/header/header.pug
include ../../components/tabs/tabs.pug
include ../mixin/production-page
include ../mixin/slider.pug
block variables
    
block content
    +header 
    main(style="margin-top: 100px; padding: 0 43px;")
        block page
    .footer 
        include ../../components/footer/footer

