
.slider.slider-products
    overflow: visible
    position: relative
    max-width: 600px
    margin: 0 auto
    & .slider__wrapper
        overflow: visible
        position: relative
    & .slider__item
        flex: 0 0 100%
        max-width: 100%
        position: relative
        opacity: 0.85
        transform: scale(0.85)
        transition: opacity 400ms, transform 400ms
        &_active
            opacity: 1
