include ../../components/button/button.pug
//- -
//-     let imgs={up:"../../assets/img/svg/up.svg",middle:"../../assets/img/svg/middle.svg",down:"../../assets/img/svg/down.svg"}

form.application__form
    h2.application__head Простое заполнение заявки для расчета стоимости
    input.application__input(placeholder="Ваше имя*")
    input.application__input(placeholder="Ваш телефон*" type="phone")
    input.application__input(placeholder="Ваш email*" type="email")
    +button("application__submit","отправить","white")
.application__decoration 
    div(class="gear gear-up") 
        img(src='../../assets/img/application/srednyaya.svg' alt="gear up")
    div(class="gear gear-middle") 
        img(src='../../assets/img/application/malenkaya.svg' alt="gear middle")
    div(class="gear gear-down") 
        img(src='../../assets/img/application/bolshaya.svg' alt="gear down")



