include ../../components/button/button.pug
include ../../components/header/header.pug
+header('logo') 
form.application__form
    h2.application__head Простое заполнение заявки для расчета стоимости
    input.application__input(placeholder="Ваше имя*" type="text" required untouched="true")
    input.application__input.invalidated(placeholder="Ваш телефон*" type="phone" required untouched="true")
    input.application__input.invalidated(placeholder="Ваш email*" type="mail" required untouched="true")
    +button("application__submit","отправить","white")(type="submit")
.application__decoration 
    div(class="gear gear-up") 
        img(src='../../assets/img/application/srednyaya.svg' alt="gear up")
    div(class="gear gear-middle") 
        img(src='../../assets/img/application/malenkaya.svg' alt="gear middle")
    div(class="gear gear-down") 
        img(src='../../assets/img/application/bolshaya.svg' alt="gear down")



