//- include ../mixin/slider.pug
//- .container-products
//- .products-wrapper
//- .container-products
//- +slider("products")
//-     each i in [0,1,2,3,5,6]
//-         .slider__item
-
    const arr=[
        {
            img:'../../assets/img/tiser/tool.png',
            points:[
                {top:60,left:15},
                {top:119,left:85},
                {top:-2,left:366},
            ]
        },
        {
            img:'../../assets/img/tiser/stanok-trubo-810px-min 1.png',
            points:[
            {top:28,left:39},
            {top:142,left:193},
            {top:36,left:157},
            ]},
        {   img:'../../assets/img/tiser/tool.png',
            points:[
            {top:60,left:15},
            {top:119,left:85},
            {top:-2,left:366},
            ]},
        {
            img:'../../assets/img/tiser/stanok-trubo-810px-min 1.png',
            points:[
            {top:28,left:39},
            {top:142,left:193},
            {top:36,left:157},
            ]}
    ]
.carousel
    each i in arr
        a.carousel-item(href="#")
            .carousel-item__wrapper
                img(src=i.img)
            each point in i.points
                .carousel-item__point.carousel-item__point_1(style={top: point.top+'px', left: point.left+'px'})
                    .carousel-item__inner +