include ../mixin/slider.pug
include ../../components/button/button.pug
include ../../components/header/header.pug
+header('logo') 
.tiser__main
    .tiser__main-header.main-body
        h1.main-body__up Надежные и технологичные станки 
        h1.main-body__down плазменной резки с ЧПУ 
        .tiser__button-container
            +button("tiser__button", "заказать", "white")
    .container-tiser
        - 
            const photos = [
                "../../assets/img/production/UPMR-1024x683.png", 
                "../../assets/img/production/APU_3015_Premialnaya3.png",
                "../../assets/img/production/APU_3522.png",
                "../../assets/img/production/sprrs1.png"
            ]
        +slider
            each i in photos
                .slider__item
                   img(src=i)
