include ../mixin/slider.pug
.tiser__main-head
    include ../../components/menu/menu.pug
    .tiser__header
        .tiser__logo
        .tiser__leftside 
            .tiser__title FMGroup 
            .tiser__slogan на уровень выше
    h1.tiser__phone 8 800 700 69 58
.tiser__main-header.main-body
    h1.main-body__up Надежные и технологичные станки 
    h1.main-body__down плазменной резки с ЧПУ 
.container-tiser
    +slider
        each i in [0,1,2,3]
            .slider__item
                div.main-slider(style=style)
    