@import "../gear/_gear"
@import "../_const"
.application
    background: #6E9EC1
    color: #fff
    position: relative
    &__form
        display: flex
        flex-direction: column
        width: 50%
        background: inherit
    &__input
        border: none
        padding: 1rem
        border-radius: 5px
        font-size: calc( $metrica * 1 )
        width: 70%
        margin: 0 auto
        &:not(:last-child)
            margin-bottom: 42px

    &__submit.button
        margin: 2rem auto
    &__decoration
        position: absolute
        top: 0
        left: 0
        height: 100%
    &__head
        font-size: calc( $metrica * 2 )
        text-align: center
        margin-bottom: 2.5vh
