@import "../_const"
@import "../../components/footer/_footer"
@import "../../components/textblock/_textblock"
.contacts
    font-size: calc($metrica * 0.7)

    &__container
        display: grid
        grid-template-areas: "social legal accountant production" "social post sales supply" "social time sales empty" " social phone phone phone"
        place-content: start
        width: 66%
        column-gap: 1em
        & *
            padding-top: 0
            margin-top: 0

    &__socials
        grid-area: social
        display: flex
        flex-direction: column
        height: 100%
        & > *:not(:last-child)
            margin-bottom: 1rem
        & svg
            fill: #013485
    &__legal-address
        grid-area: legal
        font-size: 1.2em
    &__accountant
        grid-area: accountant
    &__production
        grid-area: production
    &__postal-address
        grid-area: post
    &__sales
        grid-area: sales
        & > ul
            padding: 0
    &__jobtime
        grid-area: time
    &__supply
        grid-area: supply
    &__allday
        grid-area: phone
    &__contacts
        grid-area: phone
    &__phone
        font-size: calc($metrica * 1.1)
        padding-top: 1em
    &__liner
        height: 100%

.day
    display: flex
    justify-content: space-between
    align-items: center
    list-style: none
    padding: 0
    margin: 0
    color: #000
    &__name
        margin-right: 1em
    &__time
        &_red
            color: red

.liner
    height: 100%
    width: 2px
    margin: 0 1rem
    &-up
        background: linear-gradient(to top, #013485, transparent)

    &-down
        background: linear-gradient(to top, transparent, #013485)
