@import "../mixins/_mixins"
@import "../_const"
.priority
    background: #013485
    &__body
        display: flex
        justify-content: center
        align-items: stretch
        left: 15%
        right: 15%
        position: absolute
        top: 50%
        transform: translateY(-50%)
        @media screen and (max-width:768px)
            flex-direction: column
            align-items: center
            margin-top: 4rem

    &__head
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        text-align: center
        color: #fff
        font-size: calc( $metrica * 0.95 )
    &__title
        padding: 1rem 1rem 0.5rem
        margin-bottom: 0
        margin-top: calc( $metrica * 2 )
    &__slogan
        font-size: calc( $metrica * 0.8 )
        margin-top: 0
    &__backword
        font-family: 'Montserrat', sans-serif
        font-weight: 700
        color: rgba(255,255,255,10%)
        font-size: calc( $metrica * 10 )
        position: absolute
        &_up
            top: 0
            left: 50%
        &_down
            bottom: 0
            left: -50%
