@import "../mixins/_mixins"
@import "../_const"
@import "../../components/card-priority/_card-priority"
.priority
    background: #013485
    &__body
        display: flex
        justify-content: space-between
        align-items: stretch
        left: 15%
        right: 15%
        position: absolute
        top: 50%
        transform: translateY(-50%)
        @media screen and (max-width:1024px)
            flex-direction: column
            align-items: center
            margin-top: 4rem
        @media screen and (max-width:425px)
            margin: 0
            left: 20%
        @media screen and (max-width:320px)
            margin-top: 2rem

    &__head
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        text-align: center
        color: #fff
        font-size: 50px
        @media screen and (max-width:630px)
            font-size: 40px

        @media screen and (max-width:425px)
            width: 100%

    &__title
        padding: 1rem 1rem 0.5rem
        margin-bottom: 0
        margin-top: calc( $metrica * 2 )
        font-size: 1em
        @media screen and (max-width:425px)
            font-size: 20px
    &__slogan
        font-size: calc( $metrica * 0.8 )
        margin-top: 0
        font-size: 0.4em
        @media screen and (max-width:425px)
            font-size: 12px
    &__backword
        font-family: 'Montserrat', sans-serif
        font-weight: 700
        color: rgba(255,255,255,10%)
        font-size: calc( $metrica * 10 )
        position: absolute
        &_up
            top: 0
            left: 50%
        &_down
            bottom: 0
            left: -50%
