@import "../_const"

.products-wrapper
    position: relative
    width: 65%
    overflow: hidden
    height: 80%
.products
    background: url($assetPath+"/products/67246.png")
    background-repeat: repeat-x
    background-position: 0% 120%
.container-products
    width: 600px
