@import "../_const"

.products-wrapper
    position: relative
    width: 65%
    overflow: hidden
    height: 80%
.products
    background: #C9C9CE url($assetPath+"/products/67246.png") repeat-x
    background-size: 50%
    background-position: 50% 100%
    // background-position: 0% 120%
.container-products
    width: 600px
.products .carousel-item
    width: 400px
