@import "../main-header/_main-header"
@import "../mixins/_flex-center"
@import "../../components/menu/_main-menu"
.tiser
    background: url("../../assets/img/tiser/back1.jpg") no-repeat
    background-size: cover
    background-position: center
    color: #fff
    &__main-head
        +flex-center
        position: absolute
        top: 0
        width: 100%
        margin: 0 auto

    &__phone
        font-size: calc($metrica * 1.1)
        padding-right: 150px
        color: #000
    &__header
        display: flex
        align-items: center
        justify-content: center

    &__logo
        background: url("../../assets/img/tiser/logo.png") no-repeat
        background-size: contain
        width: 78px
        height: 79px
    &__leftside
        margin-left: 20px
    &__title
        font-size: 30px
    &__slogan
        font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif
        font-size: 14px
