@import "../main-header/_main-header"
@import "../mixins/_flex-center"
@import "../../components/menu/_main-menu"
@import "../../components/header/_header"
@import "../../components/button/_button"
.tiser
    background: url("../../assets/img/tiser/back1.jpg") no-repeat
    background-size: cover
    background-position: center
    color: #fff
    & .main-menu
        background: #0D88BF
    & .main-menu__blank
        background: #0D88BF
    &__menu
        flex: 1 0 33%
    &__button
        color: #fff
        // @media screen and ( max-width: 425px )
        //     & > .button__name
        //         padding: 20px 51px
        // & > .button__arrow
        //     @media screen and ( max-width: 425px )
        //         padding: 20px
        //         position: relative
        //     & > svg
        //         position: absolute
        //         fill: #fff
    &__main
        display: grid
        grid-template-columns: 1fr 2fr
        margin: 0 7.8vw
        place-items: center
        @media screen and ( max-width: 720px )
            grid-template-columns: 1fr
            grid-template-rows: 1fr 1fr
    &__button-container
        width: 55%
        margin-top: clamp(1rem, 3.9vh ,40px)
