@import "../_const"
.control
    position: fixed
    top: 50%
    z-index: 10
    background: inherit
    border: none
    +dfsb
    width: 93px
    transition: opacity 1s ease
    cursor: pointer
    // font-size: calc($metrica * 0.8)
    font-size: 20px
    transition: opacity 1s, color 1s

    &__up, &__down
        display: flex
        justify-content: space-between
        align-items: center
        column-gap: 1em
        width: 110px
        height: 36px

        & > svg
            transform: rotate(-90deg)
            width: 100%
            height: 100%
            & > path
                fill: currentColor
    &__up
        left: 2vw
        transform: translateY(-50%) rotate(-90deg)
        @media screen and ( max-width: 768px )
            left: 0
            font-size: 15px
        @media screen and ( max-width: 320px )
            font-size: 10px
            left: -1em
    &__down
        right: 7vw
        transform: translateY(-50%) rotate(90deg)
        @media screen and ( max-width: 768px )
            font-size: 15px
            right: 60px
        @media screen and ( max-width: 425px )
            right: 12px
        @media screen and ( max-width: 320px )
            font-size: 10px
            right: 0
