@import "../../sass/_const"
.meter
    &__container
        // position: absolute
        display: flex
        flex-direction: column
        align-items: flex-end
        // mix-blend-mode: difference
    &__line
        width: calc($metrica*1.5)
        height: 2px
        background-color: #777
        transition: width 1s, background-color 1s
        right: 0
        cursor: pointer
        &:not(:last-child)
            margin-bottom: calc($metrica*1)
            @media screen and ( max-width: 580px )
                margin-bottom: calc($metrica*0.5)

        &_current
            width: calc($metrica*3)

        @media screen and ( max-width: 580px )
            width: calc($metrica*1)

        &.meter__line_current
            @media screen and ( max-width: 580px )
                width: calc($metrica*2)
